.footer
{
  text-align: center;
  display: flex;
  flex-direction: column;
  color: #fff;

  > div
  {
    margin: 0.5em;
  }

  @include media-breakpoint-up(md)
  {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1.5em;

    .to-top
    {
      order: 1;
    }
  }

}

.to-top
{
  color: #fff;

  font-size: 1em;

  &__icon {
    display: block;
    font-size: 1.5em;
  }

  &__label
  {
    display: block;
    font-family: $font-header;
    padding: 0.3em;
  }

  @include media-breakpoint-down(md) {
    margin-bottom: 1rem;
  }

  @include media-breakpoint-up(lg) {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;

    &__icon {
      padding-left: 0.5em;
    }
  }
}
.social {}

.copywriting
{
  display: flex;
  flex-direction: column;

  color: #62778c;

  > *
  {
    color: inherit;
    padding: 0.2em 1em;
  }

  &__confidentiality {
    text-decoration: underline;
  }
  &__company {}
  &__developer {}

  @include media-breakpoint-up(lg)
  {
    flex-direction: row;

    &__confidentiality { order: 0; }
    &__company { order: 1 }
    &__developer { order: 2 }
  }
}
.todo
{
  span
  {
    color: #04e980;
  }
}
