.header
{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  height: 6rem;

  padding-top: 3.2rem;

  @include media-breakpoint-up(xl)
  {
    padding-top: 4.4rem;
  }

  &__logo
  {
    display: flex;

    margin-top: -1.2rem;

    width: 8rem;

    text-align: right;
    align-items: center;

    @include media-breakpoint-up(xl)
     {
       margin-top: -2.1rem;
       width: 11rem;
     }
  }

  &__nav {}

  &__btn {
    font-size: 1.2rem;
    @include media-breakpoint-up(xl)
    {
      font-size: 1.4rem;
    }
  }

  &__phone
  {
    font-family: $font-header;
    color: #2c3e50;
    padding: 1em 0 1em 1em;

    @include media-breakpoint-up(xl)
    {
      font-size: 1.3rem;
    }

    @include media-breakpoint-down(sm)
    {
      padding: 0.3em;
    }
  }

  @include media-breakpoint-down(sm) {
    &__conacts {
      margin-top: -1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }


  // Animations
  @include media-breakpoint-up(lg) {
    &__logo {
      transform: translateY(-100px);
      opacity: 0;

      transition: transform 1.4s, opacity 1.4s;
      transition-timing-function:  ease-in-out;
      transition-delay: 1s;

      .loaded & {
        opacity: 1;
        transform: translateY(0);
      }
    }

    &__conacts {
      transform: translateY(-100px);
      opacity: 0;

      transition: transform 1.4s, opacity 1.4s;
      transition-timing-function: ease-in-out;
      transition-delay: 1.5s;

      .loaded & {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}

