.layout
{

  &__header
  {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;

    z-index: 100;

    transition: opacity 0.5s, transform 0.5s;

    .scroll--down &
    {
      transition-delay: 0.8s;

      transform: translateY(-100%);
      opacity: 0;
    }

    .scroll--page-bottom &,
    .scroll--page-top &
    {
      transition-delay: 0s;

      transform: none;
      opacity: 1;
    }
  }

  &__content
  {
  }

  &__menu
  {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 100;

    transition: opacity;
    transition-duration: 750ms;
    transition-timing-function: ease;

    .scroll--first-screen & {
      opacity: 0;
    }

    @include media-breakpoint-down(md) {
      //display: none;
    }
  }

  &__footer
  {
    position: fixed;

    bottom: 0;
    left: 0;

    width: 100%;

    padding: 0 1rem;

    z-index: 900;

    transition: opacity 0.5s, transform 0.5s;

    .scroll--down &
    {
      transition-delay: 0.8s;
      transform: translateY(100%);
      opacity: 0;
    }

    .scroll--page-bottom &,
    .scroll--page-top &
    {
      transition-delay: 0s;

      transform: none;
      opacity: 1;
    }
  }
}
