.calculators
{
  position: relative;
  width: 100%;
  text-align: center;
  margin: auto;

  @include media-breakpoint-up(xl) {
    height: 60rem;
  }
}

.calculator
{
  text-align: left;

  padding-top: 4.5rem;

  @include media-breakpoint-down(sm)
  {
    text-align: center;
  }

  &__wrp {
    max-width: 51rem;
    margin: auto;
  }

  &__go-back {
    font-size: 1.3em;
  }

  &__doc-type
  {
    padding: 0.5em 0;
  }

  &__tax-type
  {
    padding: 0.5em 0;
  }

  &__range
  {
    padding: 0.5em 0;

    @include media-breakpoint-up(md)
    {
      .input-range {
        margin-top: 1.8rem;
      }
    }
  }

  &__total-price
  {
    padding: 0.5em 0;
  }

  &__request
  {
    padding: 0.6em;
    font-size: 1.8em;
    @include media-breakpoint-up(xl) {
      font-size: 2.2em;
    }
  }

  &__header {
    margin-bottom: 3rem;
  }

  &_accounting  &__wrp {
    max-width: 44rem;
  }
}

.calculators-links
{
  padding-top: 1rem;
  &__wrp
  {
    display: flex;

    margin: 1rem -1em;

    @include media-breakpoint-down(sm)
    {
      flex-direction: column;
    }

    @include media-breakpoint-only(md) {
      font-size: 1.2rem;
    }

    @include media-breakpoint-only(lg) {
      font-size: 1.5rem;
    }

    @include media-breakpoint-up(xl) {
      font-size: 2rem;
      margin: 3rem -1rem;
    }
  }
}

.calculator-link
{
  position: relative;

  display: inline-block;
  vertical-align: top;

  width: 26em;
  height: 18em;
  max-width: 100%;

  margin: 1em;
  padding: 2.5em;

  text-align: center;

  cursor: pointer;

  transition: transform 1s, box-shadow 1s;

  @include media-breakpoint-only(md)
  {
    font-size: 0.77em;
  }
  @include media-breakpoint-down(sm)
  {
    font-size: 0.9em;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__wrp
  {
    position: relative;

    width: 12em;

    margin: auto;
  }

  &__icon
  {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 8em;

    img, svg
    {
      max-width: 100%;
      height: 100%;
    }
  }

  &__label
  {
    margin-top: 2.2em;

    padding: 0 2em;

    font-size: 0.8em;
    line-height: 1.2;
    color: #fff;

    transition: color 0.5s ease 0.5s;

    @include media-breakpoint-down(sm) {
      margin-top: 3em;
    }

    @include media-breakpoint-up(xl) {
      margin-top: 2.8em;
    }
  }

  &:hover &__label
  {
    //color: #fff;
    transition: color 0.5s ease;
  }
}

.calculator-total-price
{
  margin-top: 1rem;

  &__result
  {
    margin-top: 0.8rem;

    font-family: $font-header;
    font-weight: bold;

    font-size: 3.3em;
    letter-spacing: .01em;
    line-height: 1;
    color: #2c3e50;

    &-unit {
      display: inline-block;

      position: relative;
      top: -0.1em;

      margin-left: 0.6em;
      font-size: 0.38em;
      font-weight: 500;
    }
  }

  &__sale
  {
    margin-top: 1rem;
    font-size: 1.35em;
  }
}

// TRANSITIONS
.v-enter-active, .v-leave-active
{
  &.calculators-links
  {
    transition: transform 1.5s ease, opacity 1.5s;
  }

  &.calculator
  {
    transition: transform 1.5s ease, opacity 1.5s;
  }

  .calculator__transition-5
  {
    transition: transform 1s ease 500ms;
  }

  .calculator__transition-4
  {
    transition: transform 1s ease 400ms;
  }

  .calculator__transition-3
  {
    transition: transform 1s ease 300ms;
  }

  .calculator__transition-2
  {
    transition: transform 1s ease 200ms;
  }

  .calculator__transition-1
  {
    transition: transform 1s ease 100ms;
  }


  .calculator__transition-0
  {
    transition: transform 1s ease 0ms;
  }
}

.v-enter, .v-leave-to
{
  &.calculators-links
  {
    opacity: 0;
    transform: translateX(-85%);
  }

  &.calculator {
    opacity: 0;
    transform: translateX(85%);
  }

  .calculator__transition-5,
  .calculator__transition-4,
  .calculator__transition-3,
  .calculator__transition-2,
  .calculator__transition-1,
  .calculator__transition-0
  {
    transform: translateX(85%);
  }
}

.v-enter-active {
  &.calculators-links,
  &.calculator
  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
