.dropdown
{
  display: block;

  position: relative;

  width: 100%;
  height: 5rem;

  padding: 1.125rem;
  margin: 0.5rem 0 1.5rem 0;

  font-size: 1rem;

  box-shadow: none;
  text-shadow: none;

  border: none;

  &__wrp
  {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 5rem;

    overflow: hidden;

    font-size: 1rem;

    box-shadow: none;
    text-shadow: none;

    background: #fff;
    border: none;
    border-radius: 3rem;

    transition: height .8s ease;

    cursor: pointer;
  }

  &__toggle
  {
    position: absolute;

    right: 2rem;
    top: 1.5rem;

    &:before
    {
      content: '';

      display: inline-block;

      width:  2rem;
      height: 2rem;

      border-radius: 50%;

      box-shadow: 0 0 0.5rem #fff;

      background: rgba(255, 255, 255, 0.8) url("../images/icons/arrow-bottom.svg") no-repeat center;
      background-size: 1rem;

      transition: transform .8s ease;
    }
  }

  &__body
  {
    margin-right: 1rem;

    text-align: left;

    padding: 1.6rem 2.4rem;
  }


  &__list
  {
    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__item
  {
    height: 2rem;
    line-height: 2rem;

    margin: 0;

    color: #303e4f;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    opacity: 0;

    transition: opacity 0.8s ease, transform 0.8s ease, color 0.3s ease;

    &_group-name
    {
      font-family: $font-header;
      color: #95a5a6;
    }

    &_active
    {
      opacity: 1;
    }

    //&:hover
    //{
    //  color: #ffb629;
    //}
  }

  &_open &
  {
    &__wrp
    {
      height: auto;
    }

    &__toggle
    {
      &:before
      {
        transform: rotate(180deg);
      }
    }

    &__item
    {
      opacity: 1;

      &_active
      {
        color: #ffb629;
      }
    }
  }
}
