.input-range
{
    position: relative;
    user-select: none;

    width: 100%;

    &__wrp
    {
        position: relative;
        padding: 1rem 0;

        &:after
        {
            content: '';

            display: block;

            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;
        }
    }

    &__progress-line
    {
        position: relative;

        display: block;

        height: 0.5rem;
        overflow: hidden;

        background: #fff;
        border-radius: 0.5rem;
    }

    &__progress
    {
        position: relative;

        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        transform: translateX(-50%);

        background: #dbe2e7;
    }

    &__circle-wrp
    {
        position: absolute;

        left: 0;
        top: 50%;

        width: 100%;

        height: 0;

        transform: translateX(-50%);
    }

    &__circle
    {
      display: block;

      position: absolute;

      top: -1.1rem;
      right: -1.2rem;

      width:  2.2rem;
      height: 2.2rem;

      background: #f7cc57;

      border: 0.2rem solid #fff;
      border-radius: 50%;
    }

    &__value
    {
        display: block;

        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        padding: 0.1rem 0;

        font-family: $font-header;
        font-weight: bold;
        font-size: 0.8rem;
        line-height: 1.5rem;
        text-align: center;
        color: #fff;

        background: transparent;

        transition: transform 0.3s ease;

        span
        {
            display: inline-block;
            transition: opacity 0.3s ease;
        }

        &:before
        {
            content: '';

            display: block;

            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            background: url("../images/range-bg.svg") no-repeat center;
            background-size: 99%;

            opacity: 0;

            z-index: -1;

            @include media-breakpoint-down(sm)
            {
                margin-top: 0.1rem;
                background-image: url("../images/range-bg-mob.svg");
            }

            @include media-breakpoint-up(md)
            {
                transform: scale(1, -1);
            }

            transition: opacity 0.3s ease;
        }
    }

    &_active &__value
    {
        transform: scale(3) translate(1.2rem, -1.2rem);

        @include media-breakpoint-down(sm)
        {
            transform: scale(3) translate(0, -1.4rem);
        }

        span
        {
            transform: scale(0.6) translateX(0.1rem);
        }

        &:before
        {
            opacity: 1;
        }
    }
}
