.modal
{
  display: none;

  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  min-height: 100%;

  text-align: center;

  &__wrp
  {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
    z-index: 900;

    margin: 5rem auto;

    text-align: left;
  }

  &__bg
  {
    position: absolute;

    top: 0;
    left: 0;

    width:  100%;
    height: 100%;

    svg
    {
      width: 100%;
      height: 100%;
    }
  }

  &__close
  {
    position: absolute;

    top:  -2rem;
    right: -0.5rem;

    width: 4rem;
    height: 4rem;

    cursor: pointer;

    z-index: 1;
  }

  &__controls
  {
    position: absolute;

    bottom: -3.5rem;
    left: 50%;
    margin-left: -5rem;
  }

  &__arrow
  {
    display: inline-block;
    position: relative;

    width: 4rem;
    height: 4rem;

    margin: 0 0.5rem;

    cursor: pointer;
  }

  &__header {
    margin-bottom: 1.4rem;
  }

  &__body
  {
    position: relative;
    padding: 5rem;
    max-width: 45rem;
    min-height: 25rem;

    @include media-breakpoint-down(sm) {
      max-width: 26rem;
      padding: 5rem 4rem;
    }
  }

  &-enter-active, &-leave-active {
    transition: opacity, transform;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(.09,.37,.08,1.13);
    z-index: 900;

    .modal
    {
      &__close, &__arrow
      {
        transition: opacity, transform;
        transition-timing-function: cubic-bezier(.42,.09,.26,1.5);
        transition-duration: 0.5s;
        transition-delay: 1s;
      }
      &__arrow_left
      {
        transition-delay: 1.2s;
      }
      &__arrow_right
      {
        transition-delay: 1.3s;
      }

      &__header
      {
        transition: opacity 0.5s ease, transform 0.5s ease;
        transition-delay: 0.5s;
        transform-origin: top center;
      }
      &__content
      {
        transition: opacity 0.5s ease, transform 0.5s ease;
        transition-delay: 0.8s;
        transform-origin: top center;
      }
    }
  }

  &-leave-active
  {
    transition-delay: 0.5s;
    transition-timing-function: cubic-bezier(.91,0,.85,.6);
    transition-duration: 0.5s;

    .modal
    {
      &__close, &__arrow
      {
        transition-delay: 0s;
      }

      &__arrow_left
      {
        transition-delay: 0.2s;
      }

      &__arrow_right
      {
        transition-delay: 0.3s;
      }
      &__header
      {
        transition-delay: 0.5s;
      }
      &__content
      {
        transition-delay: 0.4s;
      }
    }
  }
  &-enter, &-leave-to {
    opacity: 0;
    transform: scale(0);

    .modal {
      &__arrow, &__close
      {
        opacity: 0;
        transform: scale(0);
      }

      &__header
      {
        opacity: 0;
        transform: scale(0.5);
      }

      &__content
      {
        opacity: 0;
        transform: scale(0.9);
      }
    }
  }
}
