.request-form
{
  position: relative;
  @include media-breakpoint-up(md)
  {
    width: 30rem;
  }

  &__submit
  {
    font-size: 1.4rem;
    z-index: 1;
    text-align: center;

    @include media-breakpoint-up(md)
    {
      padding-top: 1rem;
    }
  }
}

.sending-status
{
  display: flex;

  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;

  padding-top: 4rem;

  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  text-align: center;

  transition: opacity, transform;
  transition-duration: 0.3s;

  &__icon
  {
    transform: translateY(23rem);
  }

  &__header,
  &__text,
  &__btn
  {
    opacity: 0;
  }

  &__text {
    font-family: $font-header;
    font-weight: bold;
  }

  &__btn
  {
    margin-top: 1rem;
    font-size: 1.2rem;
  }
}
