.top-nav {
  display: flex;
  justify-content: space-between;

  list-style: none;

  &__item {
    display: inline-block;
    margin: 0 1.5rem;

    @include media-breakpoint-up(xl) {
      margin: 0 2rem;
    }
  }
  &__link {
    padding: 0.5rem;
    color: #1d3a50;
    &:hover,
    &_active {
      color: #2ba07d;
    }
  }
}
