<template lang="pug">
.services
  h2.services__header Услуги
  p.services__text
    | Нанять главного бухгалтера – дорого. Вести учет самому – сложно.
    | Для этого существуем мы – компания «Талеком».
  .services__slider
    ServicesSlider(:list="list")
</template>

<script>
  import ServicesSlider from "./ServicesSlider";
  export default {
    name: "Services",
    components: {ServicesSlider},
    data: () => ({
      list: [
        {
          id: 1,
          title: 'Ведение бухгалтерского учета',
          content: `
            <p>Ведение бухгалтерии "под ключ" для ИП и ООО на системе налогообложения УСН и ОСНО.  Стоимость учета от 3 000 руб. в зависимости от количества операций в месяц, кадровый учет включен в стоимость, бесплатные услуги курьера и оформление первичной документации. Составление и сдача отчетности в установленные законодательством сроки.</p>
          `
        },
        {
          id: 2,
          title: 'Составление и сдача отчетности',
          content: `
            <p>Составление и сдача отчетности для ИП, ООО, иностранных представительств, физических лиц.  Стоимость составления отчетности от 500 руб., бесплатная доставка курьером. Сдача отчетности в ИФНС и фонды, составление нулевой отчетности.</p>
          `
        },
        {
          id: 3,
          title: 'Восстановление учета',
          content: `
            <p>Составление и оформление данных хозяйственной деятельности по счетам бухгалтерского и налогового учета за предыдущие периоды.</p>
            <p>Стоимость восстановления учета и отчетности зависит от периода восстановления учета, системы налогообложения, состояния первичной документации, сроков в течение которых необходимо произвести восстановление  и т.д.</p>
          `
        },
        {
          id: 4,
          title: 'Расчет заработной платы и кадровое делопроизводство',
          content: `
            <p>Аутсорсинг зарплаты в том числе: расчет, заполнение, возмещение по больничным листам; расчет и оформление отпускных; расчет и оформление компенсации отпуска, выходных пособий, начисляемых при увольнении работника; расчет налогов по заработной плате; удержания с заработной платы по исполнительным документам; заполнение расчетных листков на каждого сотрудника, расчетно-платежных ведомостей по выплате заработной платы через кассу и банк; заполнение налоговых карточек по НДФЛ и карточек учета сумм начисленных выплат во внебюджетные фонды; подготовка и сдача отчетности во внебюджетные фонды и налоговые нстанции, включая отчет в пенсионный фонд.</p>
          `
        },
        {
          id: 5,
          title: 'Представление интересов в ИФНС и внебюджетных фондах',
          content: `
            <p>Похождение сверки с налоговой инспекцией , пенсионным фондом и фондом социального страхования по всем видам налогов и сборов; получать справки, выписки; давать разъяснения по любым вопросам в сфере налогообложения, в том числе, по вопросам начисления сборов, проведению проверок, уплаты налогов; осуществлять анализ налоговой нагрузки;обжаловать действия налоговой инспекции.</p>
          `
        },
        {
          id: 6,
          title: 'Сопровождение налоговых проверок',
          content: `
            <p>Услуги по представлению интересов, сопровождению и подготовке документов для всех видов налоговых проверок - камеральных, выездных встречных и пр.; подготовка письменных заключений о судебной перспективе налоговой ситуации, обжалования акта, решения налогового органа; подготовка возражений на акт проверки налоговой инспекции; обжалование решения налоговой инспекции в вышестоящем налоговом органе (в том числе ФНС); ведение дел в арбитражном суде по налоговым спорам; подготовка документов для возврата и зачета излишне уплаченных (взысканных) налогов, в том числе и НДС; контроль за снятием ареста со счетов и ареста имущества налогоплательщика.</p>
          `
        },
        {
          id: 7,
          title: 'Постановка и автоматизация учета',
          content: `
            <p>Сопровождение и консультирование при выборе и внедрении автоматизированных учетных систем бухгалтерского , налогового , управленческого международного, складского и прочих видов учета.</p>
            <p>Работы по данному проекту могут производятся поэтапно или частично, если вам интересен только один вид услуги: предварительный анализ деятельности, операций и бизнес-процессов вашей компании; разработка методики ведения учета и  формирования отчётности; выбор оптимального программного продукта, с точки зрения "цена/качество"; подготовка техзадания и плана работ по внедрению; калькуляция затрат по проекту; согласование проекта; контроль за внедрением, запуском и опытной эксплуатацией; подготовка и оформление регламентов ведения учета.</p>
          `
        },
        {
          id: 8,
          title: 'Постановка и внедрение системы бюджетирования',
          content: `
            <p>Консультации в области оптимизации расхода финансовых ресурсов, создание эффективной системы управления финансами, повышение предсказуемости будущего компании и управляемости организации, в том числе: разработка схемы бюджетирования, отражающей основные бизнес-процессы, назначение ответственных за составление бюджетов; разработка бюджетных форм и методики их заполнения; разработка бюджетов центров финансовой ответственности; разработка схемы консолидации бюджетов центров финансовой ответственности; разработка регламентов взаимодействия центров финансовой ответственности (структурных подразделений) в процессе бюджетирования. </p>
          `
        },
        {
          id: 9,
          title: 'Внедрение автоматизированной системы управления казначейством',
          content: `
             <p>Сопровождение внедрения автоматизированных систем контроля над финансовыми потоками с целью сокращение затрат на управление и контроль финансовых потоков до 50%; сокращение потребности в краткосрочных кредитах для пополнения оборотных средств в 1,5 – 2 раза; предотвращение попыток нецелевого использования денежных средств; повышения исполнимости бюджета движения денежных средств; оперативного отслеживания движения денег на расчетных счетах и состояния взаиморасчетов с контрагентами; компенсации кассовых разрывов и сокращения уровня неиспользуемых денежных средств на расчетных счетах с помощью внутригрупповых перемещений;ускорения процедур согласования платежей; органзации оперативного web-доступа к системе.</p>
          `
        },
      ]
    }),
  }
</script>

<style lang="scss">
.services {
  &__text {

  }

  &__slider {
    display: flex;
    flex-flow: column wrap;

    max-width: 38rem;
    height: 40rem;

    text-align: left;

    @include media-breakpoint-only(md)
    {
      margin-top: 3.5rem;
    }

    @include media-breakpoint-up(xl)
    {
      margin-top: 2rem;
    }
  }
}
</style>
