<template lang="pug">
.services-card(@mouseover="overHandler" @mouseout="outHandler")
  svg.services-card__bg(
    xmlns='http://www.w3.org/2000/svg',
    width='100%', height='80%',
    viewBox='0 0 645 163',
    fill='none',
    preserveAspectRatio="none"
  )
      path(ref="hoverPath"
        fill='#FFC326'
        d="M579 38C579 38 579 38 579 38C579 38 579 38 579 38C579 38 579 38 579 38C579 38 579 38 579 38C579 38 579 38 579 38C579 38 579 38 579 38C579 38 579 38 579 38C579 38 579 38 579 38Z"
      )
  svg.services-card__icon(viewBox='0 0 32 32', fill='none', xmlns='http://www.w3.org/2000/svg')
    path(d='M0.973667 10.5C2.47388 5.00007 5.00016 2.50002 8.50005 1.50001C11.9999 0.50001 16.4736 0.624766 21.4736 3.12477C26.4736 5.62477 31.4736 8.52637 31.4736 14.5264C31.4736 20.5264 29.9736 22.5264 26.4736 26.5264C22.9736 30.5264 22.9736 30.0264 19.4736 31.0264C15.9736 32.0264 8.47364 30.4257 6.47364 29.6248C4.47364 28.8239 1.76542 24 0.973681 21.6248C0.181945 19.2495 -0.526551 15.9999 0.973667 10.5Z', fill='#FFC326')
    path(fill-rule='evenodd', clip-rule='evenodd', d='M26.873 16.24C26.695 16.569 26.499 16.893 26.263 17.18C26.11 17.364 25.865 17.61 25.671 17.602C24.865 17.571 24.1 17.903 23.273 17.766C21.61 17.489 19.934 17.539 18.262 17.825C17.78 17.907 17.46 18.109 17.365 18.62C17.207 19.483 17.014 20.336 16.861 21.199C16.674 22.258 16.348 23.263 15.789 24.187C15.693 24.345 15.596 24.523 15.452 24.63C14.52 25.318 13.075 24.943 12.595 23.894C12.176 22.978 11.937 22.023 12.027 20.994C12.098 20.185 12.135 19.374 12.167 18.563C12.181 18.21 11.951 17.945 11.613 17.944C10.993 17.94 10.372 17.966 9.75098 18C8.53598 18.068 7.40498 17.825 6.38898 17.137C6.01398 16.882 5.94098 16.659 6.02898 16.176C6.11098 15.725 6.29198 15.361 6.65598 15.061C7.15698 14.651 7.69998 14.38 8.34598 14.33C9.52198 14.24 10.697 14.148 11.873 14.05C12.182 14.023 12.489 13.969 12.793 13.911C13.057 13.862 13.243 13.719 13.288 13.435C13.408 12.693 13.521 11.951 13.647 11.211C13.858 9.96704 14.196 8.80104 15.032 7.77204C15.649 7.01204 16.376 6.91004 17.192 7.02204C17.985 7.13104 18.57 7.56604 18.77 8.39904C18.957 9.17704 19.162 9.91904 18.886 10.766C18.658 11.464 18.693 12.248 18.615 12.993C18.549 13.63 18.665 13.825 19.259 13.865C20.748 13.97 22.237 14.095 23.728 14.103C24.839 14.11 25.816 14.355 26.412 14.899C27.04 15.388 27.128 15.773 26.873 16.24Z', fill='white')
  .services-card__content
    h4.services-card__title {{ title }}
    p.services-card__label {{ label }}
</template>

<script>
  import anime from "animejs/lib/anime.es";
  import BtnIcon from "../BtnIcon";

  export default {
    components: {BtnIcon},
    props: ['title', 'label'],
    name: "ServicesCard",
    data: () => ({
      hover: false
    }),
    mounted() {
      this.animHover = anime({
        targets: this.$refs.hoverPath,
        d: [
          {
            value: "M309 47.0396C305.5 27.5396 377 25.2541 393.5 20.5396C410 15.8251 582.5 2.99988 602.5 6.49994C622.5 10 643.5 33.4999 636.5 50.4999C629.5 67.4999 635 118.04 633 134.04C631 150.04 600.192 143.54 584.5 152.04C568.808 160.54 406 167.04 383 143.54C360 120.04 295 127.539 282 108.04C269 88.5397 312.5 66.5396 309 47.0396Z",
            easing: 'easeInQuad',
            duration: 500,
          },
          {
            value: "M0 30C0 13.4315 13.4315 0 30 0C46.5685 0 598.431 0 615 0C631.569 0 645 13.4315 645 30C645 46.5685 645 116.431 645 133C645 149.569 631.569 163 615 163C598.431 163 46.5686 163 30 163C13.4315 163 0 149.5 0 133C0 116.5 0 46.5685 0 30Z",
            easing: 'easeOutQuint',
            duration: 750,
          },
        ],
        autoplay: false,
      });
    },
    methods: {
      overHandler(e) {
        clearTimeout(this.hoverTimer);
        if (this.hover) return false;
        this.hoverTimer = setTimeout(() => {
          this.animHover.pause();
          if (this.animHover.reversed) this.animHover.reverse();
          this.animHover.play();
          this.hover = true;
        }, 100);
      },
      outHandler(e) {
        clearTimeout(this.hoverTimer);
        if (!this.hover) return false;
        this.hoverTimer = setTimeout(() => {
          this.animHover.pause();
          if (!this.animHover.reversed) this.animHover.reverse();
          this.animHover.play();
          this.hover = false;
        }, 100);
      }
    }
  }
</script>

<style lang="scss">

.services-card {
  display: block;

  position: relative;

  margin: 0.8em 0;
  padding: 0.5em 5em 1em 1.8em;

  border-radius: 1em;
  background: #f8f8f8;
  cursor: pointer;

  @include media-breakpoint-up(xl) {
    padding: 1em 5em 1em 2.7em;
  }

  & * {
    transition: color 1s linear;
  }

  &:hover * {
   color: #fff;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: #f8f8f8;

    border-radius: 1em;
    overflow: hidden;
  }

  &__icon {
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    top: 15%;
    right: 8%;
    @include media-breakpoint-up(xl) {
      width:  2em;
      height: 2em;
    }
  }

  &__content {
    position: relative;
  }

  &__title {
    font-family: $font-header;
    font-weight: 500;

    transition: color 1s ease 1s;
  }

  &:hover &__title {
    transition: color 1s ease 0s;
  }

  &__label {
    transition: color 1s linear;
  }
}
</style>
