<template lang="pug">
.services-slider
  .services-slider__wrp(:style="{ height }")
    transition-group(:name="transition")
      .services-slider__slide(
        v-for="(slideList, index) in items" :key="index"
        v-show="index === activeSlide"
        ref="slide"
      )
        .services-slider__slide-item(
          v-for="(item, index) in slideList"
          :style="{ transitionDelay: 200 * index + 'ms' }"
        )
          ServicesCard(
            @click.native="open(item.id)"
            :index="index"
            :title="item.title"
            label="Ведение бухгалтерии \"под ключ\" для ИП и ООО..."
          )
  .services-slider__controls
    .services-slider__buttons
      .services-slider__prev
        BtnIcon(icon="arrowLeft", @click.native="prev", size="0.5")
      .services-slider__next
        BtnIcon(icon="arrowRight", @click.native="next", size="0.5")
    .services-slider__pagination(:class="{'services-slider__pagination_last-slide': this.activeSlide === this.countSlides - 1}")
      span.services-slider__active-slide {{ this.activeSlide + 1 }}
      |
      | /
      |
      span.services-slider__count {{ this.countSlides }}
</template>

<script>
import ServicesCard from "./ServicesCard";
import BtnIcon from "../BtnIcon";

export default {
  name: "ServicesSlider",
  props: ["list"],
  data: () => ({
    size: 3,
    activeSlide: 0,
    transition: "next",
    height: "auto"
  }),
  components: {BtnIcon, ServicesCard },
  computed: {
    items() {
      let subarray = [];

      for (let i = 0; i < Math.ceil(this.list.length / this.size); i++){
        subarray[i] = this.list.slice((i * this.size), (i * this.size) + this.size);
      }

      return subarray;
    },
    countSlides() {
      return Math.ceil(this.list.length / this.size);
    },
  },
  watch: {
    activeSlide() {
      this.updateHeight();
    }
  },
  mounted() {
    this.updateHeight();
    window.addEventListener('resize', () => this.height = 'auto');
  },
  methods: {
    open(id) {
      this.$root.openModal(this.list, true, id)
    },
    next() {
      this.transition = "next";
      if (this.activeSlide < this.countSlides - 1) this.activeSlide++;
      else this.activeSlide = 0;
    },
    prev() {
      this.transition = "prev";
      if(this.activeSlide > 1) this.activeSlide--;
      else this.activeSlide = this.countSlides - 1;
    },
    updateHeight() {
      requestAnimationFrame(() => {
        if (!!this.$refs.slide && this.$refs.slide.hasOwnProperty(this.activeSlide)) {
          this.height = this.$refs.slide[this.activeSlide].offsetHeight + 'px';
        } else {
          this.height = "auto";
        }
      });
    }
  }
}
</script>

<style lang="scss">
.services-slider
{
  position: relative;

  width: 100%;

  &__wrp {
    &, span {
      display: flex;
      width: 100%;
      transition: height 0.75s ease 0.5s;
    }
  }

  &__slide {
    flex: 0 0 100%;
    float: left;
  }

  &__buttons {
    display: flex;
    align-items: center;
    font-size: 3.2em;
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 15rem;
  }

  &__pagination {
    transition: color 0.75s ease;
    &_last-slide {
      color: #ffb629;
    }
  }

  &__active-slide {
    padding: 0 0.5em;
    color: #ffb629;
  }

  &__count {
    padding: 0 0.5em;
  }
}

.next, .prev
{
  &-enter-active, &-leave-active
  {
    &.services-slider__slide
    {
      transition: opacity 0.75s;

      & .services-slider__slide-item
      {
        transition: all 1.2s;
      }
    }
  }

  &-enter-active
  {
    &.services-slider__slide
    {
      transition: opacity 0.75s ease 0.5s;
    }
  }

  &-enter, &-leave-to
  {
    &.services-slider__slide
    {
      position: absolute;
      opacity: 0;
    }
  }
}

.next {
  &-enter {
    & .services-slider__slide-item{
      transform: translateX(-150%);
    }
  }

  &-leave-to {
    & .services-slider__slide-item {
      transform: translateX(150%);
    }
  }
}
.prev {
  &-enter {
    & .services-slider__slide-item{
      transform: translateX(150%);
    }
  }


  &-leave-to {
    & .services-slider__slide-item {
      transform: translateX(-150%);
    }
  }
}

</style>
