<template>
  <svg class="request-status-morphing" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" viewBox="0 0 90 90" preserveAspectRatio="none">
    <path
        ref="path"
        :d="defaultPath"
        fill="#ffc326"
        style="transform-origin: 50% 50%; transform: scale(0)"
    ></path>
  </svg>
</template>

<script>
import SVG from 'svg.js';
import anime from 'animejs/lib/anime.es.js';

const paths = {
  send:   `M84 33.4778C73.0363 33.4778 58.8 33.4778 47.3301 33.4778C35.8602 33.4778 22.8311 33.4778 3.11059 33.4778C3.11059 38.0584 3.11059 81.9566 3.11059 85.9483C14.3862 85.9483 26.7609 86.313 41.9139 86.6014C57.4003 86.8961 72.0539 87.4453 81.5676 87.4453C81.5676 81.4576 84 45.3191 84 33.4778ZM79.1466 39.3984C79.1466 50.1633 77.5182 69.54 76.516 81.4576C67.9009 81.4576 55.6891 81.4576 42.3441 81.4576C28.9992 81.4576 17.7896 81.9566 8.17233 81.4576C8.17233 71.9771 6.91852 50.3366 7.42469 38.8602C19.2885 38.8602 40.6837 38.8602 46.2516 38.8602C51.8195 38.8602 69.7014 38.2608 79.1466 39.3984ZM42.3441 16.1721C47.3301 19.3804 79.7348 37.5795 83.8882 39.1808C83.8882 37.1849 84 34.9747 84 33.4778C78.6862 30.5935 49.0022 12.3264 42.3441 8C37.4085 11.8457 8.28929 29.6321 3.11059 33.4778C3.11059 35.4006 2.86177 36.5348 3.11059 38.8602C9.25542 35.9759 37.4085 19.0564 42.3441 16.1721ZM28.9255 88.7226C33.4304 88.7226 33.4304 88.7226 28.9255 88.7226C24.4205 88.7226 24.4205 88.7226 28.9255 88.7226ZM53.728 90C58.2329 90 58.2329 90 53.728 90C49.2129 90 49.2231 90 53.728 90Z`,
  load:   `M85.9571 2.23934C74.6091 2.23934 59.8739 2.23934 48.002 2.23934C36.1301 2.23934 22.6444 2.23934 2.23265 2.23934C2.23265 7.00368 2.23265 52.6632 2.23265 56.8151C13.9034 56.8151 26.7118 57.1944 42.396 57.4944C58.4252 57.8009 73.5924 58.3721 83.4394 58.3721C83.4394 52.1442 85.9571 14.5557 85.9571 2.23934ZM80.9337 8.39754C80.9337 19.5943 79.2481 39.7484 78.2108 52.1442C69.2937 52.1442 56.6539 52.1442 42.8413 52.1442C29.0286 52.1442 17.4262 52.6632 7.4718 52.1442C7.4718 42.2833 6.17404 19.7745 6.69796 7.83771C18.9775 7.83771 41.1226 7.83771 46.8857 7.83771C52.6488 7.83771 71.1574 7.21424 80.9337 8.39754ZM42.396 44.3593C46.7654 41.7643 82.0362 14.595 85.7036 12C85.7036 9.92404 85.9571 3.79632 85.9571 2.23934C81.2419 5.87228 50.9567 32.9415 42.396 36.5744C36.2871 31.9035 7.4718 6.91026 2.23265 2.23934C2.23265 3.79632 2.23265 5 2.23265 7C7.99572 12.1899 38.3828 41.7643 42.396 44.3593ZM28.9523 78.675C33.6151 78.675 33.6151 59.7007 28.9523 59.7007C24.2895 59.7007 24.2895 78.675 28.9523 78.675ZM54.6241 89.5738C59.287 89.5738 59.287 61.0293 54.6241 61.0293C49.9613 61.0293 49.9508 89.5738 54.6241 89.5738Z`,
  sussed: `M79.5126 26.4225C72.9523 18.0121 60.3365 7 44.1883 7C31.0249 7 13.9103 14.6606 7.35012 26.4225C-0.811419 41.0555 1.03915 63.7238 8.35938 72.0917C13.4057 77.8603 21.5211 86.059 42.9717 85.9997C61.3458 85.9489 74.9627 78.3018 81.5311 67.8058C91.1191 52.4847 82.789 30.623 79.5126 26.4225ZM73.9616 26.4225C80.9885 32.3757 84.8012 51.8595 78.2675 64.4543C71.0648 78.3391 56.5302 82.1694 42.9717 82.1694C28.8252 82.1694 19.4613 76.9027 12.299 70.1997C4.52677 62.9259 4.04834 38.496 12.299 26.4225C22.9543 10.8303 37.2069 12.2666 47.7207 12.2666C58.2346 12.2666 69.6856 22.7999 73.9616 26.4225ZM44.1883 70.1997C56.7583 70.1997 64.4954 62.3303 65 58.5C65.5046 54.6697 64 53.5 61 55.5C58 57.5 53.2717 63.9755 45.1975 63.9755C36.1142 63.9755 27.5354 56.7937 25.0123 56.7937C22.4891 56.7937 20.9752 59.6664 22.9937 61.5816C25.0123 63.4967 33.4737 70.1997 44.1883 70.1997ZM28.9308 38.496C34.1009 38.496 34.1009 31.1469 28.9308 31.1469C23.7607 31.1469 23.7607 38.496 28.9308 38.496ZM56.6505 37.9711C61.8206 37.9711 61.8206 31.1469 56.6505 31.1469C51.4804 31.1469 51.4688 37.9711 56.6505 37.9711Z`,
  error:  `M79.5126 25.4225C72.9523 17.0121 60.3365 6 44.1883 6C31.0249 6 13.9103 13.6606 7.35012 25.4225C-0.811419 40.0555 1.03915 62.7238 8.35938 71.0917C13.4057 76.8603 21.5211 85.059 42.9717 84.9997C61.3458 84.9489 74.9627 77.3018 81.5311 66.8058C91.1191 51.4847 82.789 29.623 79.5126 25.4225ZM73.9616 25.4225C80.9885 31.3757 84.8012 50.8595 78.2675 63.4543C71.0648 77.3391 56.5302 81.1694 42.9717 81.1694C28.8252 81.1694 19.4613 75.9027 12.299 69.1997C4.52677 61.9259 4.04834 37.496 12.299 25.4225C22.9543 9.83029 37.2069 11.2666 47.7207 11.2666C58.2346 11.2666 69.6856 21.7999 73.9616 25.4225ZM44 60C56.57 60 62.5 62.4086 63.5 63.4543C64.5 64.5 66.5 61.5 62.5 59C58.5 56.5 52.5617 54.9479 44.5 54.5C35.5 54 28 55 25.5 56.5C23 58 23.4937 62.0816 27 61C30.5063 59.9184 33.2854 60 44 60ZM28.9308 37.496C34.1009 37.496 34.1009 30.1469 28.9308 30.1469C23.7607 30.1469 23.7607 37.496 28.9308 37.496ZM56.6505 36.9711C61.8206 36.9711 61.8206 30.1469 56.6505 30.1469C51.4804 30.1469 51.4688 36.9711 56.6505 36.9711Z`,
};

export default {
  name: "RequestStatusMorphing",
  props: {
    status: {
      type: String,
      default: 'default'
    }
  },
  data: () => ({
    defaultPath: paths.send
  }),
  watch: {
    status(val) {
      this.change(val);
    }
  },
  beforeMount() {
    if (paths.hasOwnProperty(this.status)) this.defaultPath = paths[this.status];
  },
  mounted() {
    anime({
      targets: this.$refs.path,
      scale: 1,
      easing: 'easeInOutCubic'
    })
  },
  methods: {
    change(status) {
      if (!paths.hasOwnProperty(this.status)) return false;
      anime({
        targets: this.$refs.path,
        d: paths[status],
        easing: 'easeOutElastic',
        fill: () => {
          if (status === 'sussed') return "#679D5B";
          if (status === 'error') return "#EF4523";
          return "#FFC326"
        }
      });
    },
  }
}
</script>
