/* PT Sans */

@font-face {
    font-family: 'PT Sans';
    src: url('./PTSans/PTSans-Regular.eot');
    src: local('PT Sans'), local('PTSans-Regular'),
    url('./PTSans/PTSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('./PTSans/PTSans-Regular.woff') format('woff'),
    url('./PTSans/PTSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'PT Sans';
    src: url('./PTSans/PTSans-Bold.eot');
    src: local('PT Sans Bold'), local('PTSans-Bold'),
    url('./PTSans/PTSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('./PTSans/PTSans-Bold.woff') format('woff'),
    url('./PTSans/PTSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* TT Firs Neue */

@font-face {
    font-family: 'TT Firs Neue';
    src: url('./TTFirsNeue/TTFirsNeue-Medium.eot');
    src: local('TT Firs Neue Medium'), local('TTFirsNeue-Medium'),
    url('./TTFirsNeue/TTFirsNeue-Medium.eot?#iefix') format('embedded-opentype'),
    url('./TTFirsNeue/TTFirsNeue-Medium.woff2') format('woff2'),
    url('./TTFirsNeue/TTFirsNeue-Medium.woff') format('woff'),
    url('./TTFirsNeue/TTFirsNeue-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


/*TT Norms*/

@font-face {
    font-family: 'TT Norms';
    src: url('./TTNorms/TTNorms-Regular.eot');
    src: local('TT Norms Regular'), local('TTNorms-Regular'),
    url('./TTNorms/TTNorms-Regular.eot?#iefix') format('embedded-opentype'),
    url('./TTNorms/TTNorms-Regular.woff') format('woff'),
    url('./TTNorms/TTNorms-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    src: url('./TTNorms/TTNorms-Bold.eot');
    src: local('TT Norms Bold'), local('TTNorms-Bold'),
    url('./TTNorms/TTNorms-Bold.eot?#iefix') format('embedded-opentype'),
    url('./TTNorms/TTNorms-Bold.woff') format('woff'),
    url('./TTNorms/TTNorms-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    src: url('./TTNorms/TTNorms-Medium.eot');
    src: local('TT Norms Medium'), local('TTNorms-Medium'),
    url('./TTNorms/TTNorms-Medium.eot?#iefix') format('embedded-opentype'),
    url('./TTNorms/TTNorms-Medium.woff') format('woff'),
    url('./TTNorms/TTNorms-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
