.screen-servises
{
  background-color: #fff;

  @include media-breakpoint-only(lg) {
    .screen__content {
      padding: 0 2rem;
    }
  }

  .screen__wrp
  {
    @include media-breakpoint-down(sm)
    {
      margin-top: 38rem;
      min-height: 185vw;
    }
    @include media-breakpoint-only(md)
    {
      margin-top: 19rem;
      min-height: 128vw;
    }
    @include media-breakpoint-only(lg) {
      min-height: 60vw;
    }

    @include media-breakpoint-up(xl)
    {
      min-height: 56vw;
    }
  }

  &__content
  {
    @include media-breakpoint-down(sm)
    {
      margin-top: -38rem;
      text-align: center;
    }
    @include media-breakpoint-only(md)
    {
      margin: -10rem auto 0;
      text-align: center;
    }

    @include media-breakpoint-only(md)
    {
      max-width: 30rem;
      margin: -26rem auto 0;
      text-align: center;
    }

    @include media-breakpoint-only(lg)
    {
      padding-top: 1.5rem;
      width: 30rem;
    }

    @include media-breakpoint-up(xl)
    {
      padding-top: 2rem;
      width: 42.5rem;
    }
  }
}
