.screen-services-list
{
  background-color: #fff;

  @include media-breakpoint-down(md)
  {
    .screen__transition-bottom
    {
      display: none;
    }
  }

  &__content
  {
    position: relative;
    z-index: 1;

    top: 0;
    left: 0;

    padding: 4rem 1rem;

    @include media-breakpoint-down(sm)
    {
      padding: 1rem 2rem 1rem;
    }
    @include media-breakpoint-up(lg)
    {
      padding: 4rem 2rem;
    }

  }
}
