.screen-contacts
{
  background: #2c3e51;

  &, & * {
    color: #fff;
  }

  .screen__wrp
  {
    @include media-breakpoint-down(sm)
    {
      margin-top: 18rem;
      min-height: 245vw;
    }

    @include media-breakpoint-only(md)
    {
      margin-top: 8rem;
      min-height: 150vw;
    }

    @include media-breakpoint-up(lg)
    {
      min-height: 64vw;
    }
  }

  &__content
  {
    @include media-breakpoint-down(sm)
    {
      margin: -19rem 0 0 0;
    }

    @include media-breakpoint-only(md)
    {
      margin: -9rem 0 0 0;
    }


    @include media-breakpoint-only(lg)
    {
      margin: -4.5rem 0 0 0;
      width: 30rem;
    }

    @include media-breakpoint-up(xl)
    {
      margin-top: 2rem;
      width: 42.5rem;
    }
  }
}

.contacts
{
  &__decription {
    margin-top: 1.4rem;
    max-width: 34rem;
  }

  &__cards {
    margin-top: 3rem;
    text-align: left;
  }

  @include media-breakpoint-down(md) {
    text-align: center;
    max-width: 30rem;
    margin: auto;

    &__cards { }

  }

  @include media-breakpoint-up(xl) {
    &__cards {
      margin-top: 5rem;
    }
  }
}

.contact-item
{
  display: flex;
  align-items: center;

  margin: 2.5rem auto;

  font-size: 1.4rem;

  a {
    color: #95a5a6;
  }

  @include media-breakpoint-up(xl)
  {
    font-size: 1.6rem;
  }

  &__icon
  {
    display: inline-flex;
    align-items: center;
    justify-content: center;


    width: 3em;
    height: 3em;

    margin-right: 1.5em;

    border-radius: 50%;
    background: #f6c44d;

    > img
    {
      height: 1em;
    }
  }
}

.contact-card {
  display: flex;
  align-items: center;

  border-radius: 1.5rem;

  padding: 1.5rem 2rem;
  margin-bottom: 1.3rem;

  cursor: pointer;
  background: rgba(255, 255, 255, 0.03);

  transition: background 0.75s ease;

  &:hover {
    background: rgba(255, 255, 255, 0.1);
  }

  &__img {
    max-width: 4rem;
    flex:  0 0 4rem;

    @include media-breakpoint-down(sm) {
      max-width: 3.5rem;
      flex:  0 0 3.5rem;
    }

    img, svg {
      width: 100%;
    }
  }

  &__text {
    padding-left: 2rem;

    @include media-breakpoint-down(sm) {
      padding-left: 1.5rem;
    }
  }

  &__label {
    margin: 0 0 0.3em;
  }

  &__target {
    margin: 0;
  }

  @include media-breakpoint-up(xl) {

    border-radius: 1.5rem;
    padding: 2rem 2.4rem;
    margin-bottom: 1.3rem;


    &__img {
      max-width: 5rem;
      flex:  0 0 5rem;
    }

    &__text {
      padding-left: 3.5rem;
    }

    &__label {
      margin: 0;
    }

    &__target {
      margin: 0;
    }
  }
}
