.screen-about
{
  background: linear-gradient(to bottom, #b4d4aa 40%,  #eedab6 60%);

  .screen__bg {
    .wave {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;

      transform: translateY(-50%);
    }
  }

  .screen__wrp
  {
    @include media-breakpoint-down(sm)
    {
      margin-top: 6rem;
      min-height: 198vw;
    }

    @include media-breakpoint-only(md)
    {
      min-height: 133vw;
    }

    @include media-breakpoint-up(lg)
    {
      min-height: 61vw;
    }

    @include media-breakpoint-only(lg) {
      margin-top: -2.2rem;
    }

    @include media-breakpoint-up(xl)
    {
      margin-top: 2rem;
    }
  }

  &__content
  {
    @include media-breakpoint-down(sm)
    {
      margin-top: -10rem;
    }

    @include media-breakpoint-only(md)
    {
      width: 25rem;
      margin: 0 auto;
    }

    @include media-breakpoint-only(lg)
    {
      width: 25rem;
      margin: 5.4rem 0 0 37.5rem;
      font-size: 0.85rem;
    }

    @include media-breakpoint-up(xl)
    {
      width: 34rem;
      margin: 15rem 0 0 52.7rem;
    }
  }
}

.about
{
  @include media-breakpoint-down(md)
  {
    text-align: center;
  }

  &__text
  {
    padding-left: .3em;
    @include media-breakpoint-down(sm)
    {
      color: #679d5b;
    }
  }

  &__list
  {
    display: flex;
    flex-wrap: wrap;

    list-style: none;

    padding: 0;

    @include media-breakpoint-down(sm) {
      max-width: 20rem;

      margin-top: 9rem;
      margin-left: 3rem;
      margin-right: auto;

      text-align: left;
    }

    @include media-breakpoint-only(md) {
      width: 20rem;
      margin: auto;
    }

    @include media-breakpoint-only(lg) {
      padding-left: .3em;
      max-width: 17rem;
    }

    @include media-breakpoint-up(xl) {
      margin-top: 2.5em;
    }

    &-header {
      margin: 0;
    }
    &-label {
      margin: 0;
    }

    &-item
    {
      margin: 0.9em 0;
      flex: 0 0 50%;

      @include media-breakpoint-up(xl)
      {
        flex: 0 0 9.8em;
      }

      &:before
      {
        display: none;
      }
    }
  }
}
