.screen-first
{
  background: linear-gradient(to bottom, #e6eff0 40%,  #b4d4aa 60%);

  .screen__wrp
  {
    @include media-breakpoint-down(sm)
    {
      min-height: 177vw;
    }

    @include media-breakpoint-only(md)
    {
      min-height: 133vw;
    }

    @include media-breakpoint-up(lg)
    {
      min-height: 56vw;
    }
  }

  &__sub-header {
    margin-top: 1em;

    font-family: $font-base;

    font-size: 1.23em;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0.01em;
    line-height: 1.1;

    @include media-breakpoint-down(sm) {
      max-width: 18rem;
      margin-left: auto;
      margin-right: auto;
      font-size: 1.5rem;
    }


    @include media-breakpoint-up(xl) {
      font-size: 1.88em;
    }
  }

  &__content
  {
    @include media-breakpoint-down(sm)
    {
      margin-top: 2rem;
      text-align: center;
    }

    @include media-breakpoint-only(md)
    {
      margin-top: 3rem;
    }

    @include media-breakpoint-only(lg)
    {
      margin-top: 7.5rem;
    }

    @include media-breakpoint-up(xl)
    {
      margin-top: 17.5rem;
    }
  }
}

// Animations
@include media-breakpoint-up(lg) {
  .screen-first {
    &__content {
      transform: translateY(100px);
      opacity: 0;

      transition: transform 1.4s, opacity 1.4s;
      transition-timing-function: ease-in-out;
      transition-delay: 1.4s;
      .loaded & {
        opacity: 1;
        transform: translateY(0);
      }
    }

    &__sub-header {
      transform: translateY(50px);
      opacity: 0;

      transition: transform 1.4s ease-in-out, opacity 1.4s;
      transition-delay: 1.8s;

      .loaded & {
        opacity: 1;
        transform: translateY(0);
      }
    }

    .bodymovin {
      .bg {
        transform: translateY(200px);
        opacity: 0;

        transition: transform 3s, opacity 1s;
        transition-timing-function: ease-in-out;

        .loaded & {
          opacity: 1;
          transform: translateY(0);
        }
      }
      .main {
        transform: translateY(150px);
        opacity: 0;

        transition: transform 3s cubic-bezier(.14,.43,.42,1.29), opacity 2s ease-in-out;
        transition-delay: 1s;
        .loaded & {
          opacity: 1;
          transform: translateY(0);
        }
      }

      .sun {
        transform: translateY(100px);
        opacity: 0;

        transition: transform 2s, opacity 3s;
        transition-timing-function: ease-in-out;
        transition-delay: 0.3s;
        .loaded & {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }
}
