.screen-calculators
{
  background-color: #f4f6f8;

  @include media-breakpoint-up(lg) {
    .screen-transition {
      margin-top: -5rem;
    }
  }

  &__content
  {
    @include media-breakpoint-down(sm)
    {
      margin-top: -4rem;
    }

    @include media-breakpoint-only(md)
    {
      margin-top: -3rem;
    }

    @include media-breakpoint-only(lg)
    {
      margin: -7rem 3rem -6rem;
    }

    @include media-breakpoint-up(xl)
    {
      margin: -5rem 3rem -6rem;
    }
  }
}
