.screen-advantages
{
  background: linear-gradient(to bottom, #f5f6f8 40%,  #e4e9ef 60%);

  @include media-breakpoint-down(sm) {
    background: #e4e9ef;
  }

  .screen__bg {
    .wave {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;

      @include media-breakpoint-only(md) {
        transform: scale(3) translateY(3rem);
      }
    }
  }

  .screen__wrp
  {
    @include media-breakpoint-down(lg)
    {
      padding-top: 2rem;
      min-height: 260vw;
    }

    @include media-breakpoint-down(sm) {
      min-height: 345vw;
    }

    @include media-breakpoint-only(md)
    {
      min-height: 157vw;
    }

    @include media-breakpoint-only(lg)
    {
      min-height: 64vw;
    }

    @include media-breakpoint-up(xl)
    {
      min-height: 56vw;
    }

  }

  &__content
  {
    @include media-breakpoint-down(sm)
    {
      text-align: center;
      margin-top: -2rem;
    }

    @include  media-breakpoint-only(md)
    {
      margin: -3.5rem auto 0;
      width: 28rem;
      text-align: center;
    }

    @include media-breakpoint-only(lg)
    {
      margin: -3rem 0 0 37.5rem;
      width: 30rem;
    }

    @include media-breakpoint-up(xl)
    {
      margin: 6rem 0 0 51rem;
      width: 38rem;
    }
  }
}

.advantages {
  &__list {
    margin-top: 2rem;
    @include media-breakpoint-down(sm) {
      margin-top: 11rem;
    }
  }

  &__item {
    display: flex;
  }

  &__icon {
    flex: 0 0 6rem;
  }

  &__text {
    padding: 1.4rem 0 0 2.2rem;
  }

  &__list {
    text-align: left;
    @include media-breakpoint-only(lg) {
      max-width: 28rem;
    }
  }
  @include media-breakpoint-up(xl) {
    &__item {
      margin: 1rem 0;
    }

    &__icon {
      flex: 0 0 8.5rem;
    }

    &__text {
      padding: 2.8rem 0 0 4rem;
    }
  }
}


