.preloader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    width:  100%;
    height: 100%;


    background: #E6EFF0;

    opacity: 0;
    transition: opacity 1s;
}

.loading .preloader {
  display: block;
  opacity: 1;
}

.preloader__bg {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

.preloader__wave_1 {
    transform: translateY(1000px);
    animation: preloader__wave-enter 3s ease, preloader__wave-loop 5s ease infinite 3s;

}

.preloader__wave_2 {
    transform: translateY(1000px);
    animation: preloader__wave-enter 4s ease 0.5s, preloader__wave-loop 8s ease infinite 4.5s;

}

@keyframes preloader__wave-enter {
    0% {
        transform: translateY(1000px);
    }
    100% {
        transform: translateY(-50px);
    }
}

@keyframes preloader__wave-loop {
    0% {
        transform: translateY(-50px);
    }
    50% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(-50px);
    }
}


.preloader__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.preloader__progress-rect {
  transition: all 2s;
}
