<div id="preloader" class="preloader">
  <svg class="preloader__bg" viewBox="0 0 1920 1080" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
    <path class="preloader_wave preloader__wave_1"
          fill="#C3DADD"
          d="M-10 258.547C-10 258.547 887.358 524.03 1284 326.847C1883.55 28.7903 1949.02 162.964 1949 160.444L1932 1222.19H-10V258.547Z"
    ></path>
    <path class="preloader_wave preloader__wave_2"
          fill="#CDDFE2"
          d="M-16 602.906V1248.65H1926L1928 765.042L1929 523.43C1929.02 525.949 1808.28 317.617 1401 357.027C1155.17 380.815 617.795 657.545 402 657.545C138.088 657.545 -16 602.906 -16 602.906Z"
    ></path>
  </svg>

  <svg class="preloader__text"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:xlink="http://www.w3.org/1999/xlink"
   width="258px" height="18px">
    <defs>
      <clipPath id="preloader__clip-path">
         <path class="preloader__text-path" d="M256.804,14.513 C256.442,14.858 255.990,15.031 255.446,15.031 C254.902,15.031 254.450,14.858 254.089,14.513 C253.727,14.168 253.547,13.742 253.547,13.234 C253.547,12.726 253.727,12.300 254.089,11.955 C254.450,11.610 254.902,11.437 255.446,11.437 C255.990,11.437 256.442,11.610 256.804,11.955 C257.165,12.300 257.346,12.726 257.346,13.234 C257.346,13.742 257.165,14.168 256.804,14.513 ZM247.549,10.236 L244.053,14.835 L241.152,14.835 L241.152,5.031 L244.551,5.031 L244.551,9.640 L248.047,5.031 L250.947,5.031 L250.947,14.835 L247.549,14.835 L247.549,10.236 ZM235.056,14.835 L231.658,14.835 L231.658,5.031 L239.256,5.031 L239.256,8.234 L235.056,8.234 L235.056,14.835 ZM225.357,14.835 L220.465,14.835 L220.465,5.031 L223.863,5.031 L223.863,7.833 L225.357,7.833 C226.581,7.833 227.555,8.161 228.277,8.815 C229.000,9.469 229.361,10.309 229.361,11.334 C229.361,12.360 229.001,13.200 228.282,13.854 C227.563,14.508 226.588,14.835 225.357,14.835 ZM225.704,10.695 C225.531,10.519 225.318,10.431 225.064,10.431 L223.863,10.431 L223.863,12.238 L225.064,12.238 C225.318,12.238 225.531,12.152 225.704,11.979 C225.876,11.807 225.963,11.593 225.963,11.339 C225.963,11.085 225.876,10.871 225.704,10.695 ZM214.164,11.437 L211.264,11.437 L211.264,14.835 L207.865,14.835 L207.865,5.031 L211.264,5.031 L211.264,8.439 L214.164,8.439 L214.164,5.031 L217.562,5.031 L217.562,14.835 L214.164,14.835 L214.164,11.437 ZM198.771,10.832 C198.823,11.216 199.056,11.562 199.470,11.872 C199.883,12.181 200.415,12.335 201.066,12.335 C201.476,12.335 201.865,12.252 202.233,12.086 C202.601,11.920 202.866,11.756 203.029,11.593 L203.273,11.339 L204.767,13.537 C204.728,13.576 204.670,13.629 204.592,13.698 C204.514,13.766 204.341,13.887 204.074,14.059 C203.807,14.232 203.526,14.385 203.229,14.518 C202.933,14.652 202.552,14.770 202.087,14.874 C201.621,14.979 201.148,15.031 200.666,15.031 C199.129,15.031 197.845,14.534 196.813,13.541 C195.781,12.549 195.265,11.346 195.265,9.933 C195.265,8.533 195.773,7.334 196.789,6.334 C197.805,5.335 199.032,4.835 200.471,4.835 C201.909,4.835 203.119,5.312 204.098,6.266 C205.078,7.220 205.568,8.377 205.568,9.738 L205.471,10.832 L198.771,10.832 ZM201.574,7.829 C201.281,7.565 200.913,7.433 200.471,7.433 C200.028,7.433 199.660,7.563 199.367,7.824 C199.074,8.084 198.875,8.423 198.771,8.839 L202.170,8.839 C202.066,8.429 201.867,8.092 201.574,7.829 ZM190.273,14.835 L185.674,14.835 L185.674,17.033 L182.275,17.033 L182.275,11.837 L182.871,11.837 C182.910,11.798 182.964,11.741 183.032,11.666 C183.100,11.592 183.221,11.417 183.393,11.144 C183.566,10.871 183.719,10.574 183.852,10.255 C183.986,9.936 184.106,9.510 184.214,8.976 C184.321,8.442 184.375,7.882 184.375,7.296 L184.375,5.031 L192.451,5.031 L192.451,11.837 L193.672,11.837 L193.672,17.033 L190.273,17.033 L190.273,14.835 ZM189.072,8.039 L187.373,8.039 C187.373,8.813 187.280,9.517 187.095,10.148 C186.909,10.779 186.722,11.222 186.533,11.476 L186.269,11.837 L189.072,11.837 L189.072,8.039 ZM170.926,10.236 L167.430,14.835 L164.529,14.835 L164.529,5.031 L167.928,5.031 L167.928,9.640 L171.424,5.031 L174.324,5.031 L174.324,14.835 L170.926,14.835 L170.926,10.236 ZM147.437,5.031 L150.836,5.031 L150.836,11.837 L152.838,11.837 L152.838,5.031 L156.236,5.031 L156.236,11.837 L158.238,11.837 L158.238,5.031 L161.637,5.031 L161.637,14.835 L147.437,14.835 L147.437,5.031 ZM141.137,13.732 C141.071,13.823 140.972,13.944 140.839,14.093 C140.705,14.243 140.415,14.437 139.970,14.674 C139.524,14.912 139.047,15.031 138.539,15.031 C137.608,15.031 136.841,14.759 136.239,14.215 C135.637,13.672 135.336,13.013 135.336,12.238 C135.336,11.437 135.596,10.770 136.117,10.236 C136.638,9.702 137.377,9.334 138.334,9.132 L141.137,8.537 C141.137,8.270 141.016,8.035 140.775,7.833 C140.534,7.632 140.189,7.531 139.740,7.531 C139.356,7.531 138.986,7.615 138.632,7.785 C138.277,7.954 138.025,8.117 137.875,8.273 L137.640,8.537 L135.941,6.740 C135.980,6.688 136.032,6.618 136.098,6.530 C136.163,6.442 136.322,6.291 136.576,6.076 C136.830,5.861 137.103,5.670 137.396,5.504 C137.689,5.338 138.073,5.185 138.549,5.045 C139.024,4.905 139.519,4.835 140.033,4.835 C141.342,4.835 142.419,5.220 143.265,5.988 C144.112,6.756 144.535,7.677 144.535,8.751 L144.535,14.835 L141.137,14.835 L141.137,13.732 ZM141.137,10.431 L139.642,10.734 C139.389,10.786 139.174,10.900 138.998,11.076 C138.822,11.251 138.734,11.437 138.734,11.632 C138.741,12.166 139.043,12.433 139.642,12.433 C140.053,12.433 140.404,12.274 140.697,11.955 C140.990,11.636 141.137,11.229 141.137,10.734 L141.137,10.431 ZM129.748,14.835 L124.348,14.835 L124.348,5.031 L129.543,5.031 C130.650,5.031 131.527,5.298 132.175,5.832 C132.822,6.365 133.146,7.000 133.146,7.736 C133.146,8.179 133.036,8.566 132.814,8.898 C132.593,9.230 132.375,9.448 132.160,9.552 L131.848,9.738 L132.023,9.796 C132.101,9.822 132.238,9.896 132.433,10.016 C132.629,10.137 132.803,10.273 132.956,10.426 C133.109,10.579 133.246,10.789 133.366,11.056 C133.486,11.323 133.547,11.616 133.547,11.935 C133.547,12.775 133.223,13.468 132.575,14.015 C131.927,14.562 130.985,14.835 129.748,14.835 ZM129.645,7.643 C129.512,7.503 129.344,7.433 129.142,7.433 L127.746,7.433 L127.746,8.839 L129.142,8.839 C129.344,8.839 129.512,8.773 129.645,8.639 C129.779,8.506 129.846,8.338 129.846,8.136 C129.846,7.947 129.779,7.783 129.645,7.643 ZM129.348,10.832 L127.746,10.832 L127.746,12.433 L129.348,12.433 C129.881,12.433 130.148,12.166 130.148,11.632 C130.148,11.099 129.881,10.832 129.348,10.832 ZM111.797,9.835 L109.600,12.638 L107.402,9.835 L107.402,14.835 L104.004,14.835 L104.004,5.031 L106.904,5.031 L109.600,8.439 L112.305,5.031 L115.205,5.031 L115.205,14.835 L111.797,14.835 L111.797,9.835 ZM97.703,10.236 L94.207,14.835 L91.307,14.835 L91.307,5.031 L94.705,5.031 L94.705,9.640 L98.201,5.031 L101.101,5.031 L101.101,14.835 L97.703,14.835 L97.703,10.236 ZM85.006,9.835 L82.809,12.638 L80.611,9.835 L80.611,14.835 L77.213,14.835 L77.213,5.031 L80.113,5.031 L82.809,8.439 L85.514,5.031 L88.414,5.031 L88.414,14.835 L85.006,14.835 L85.006,9.835 ZM69.413,15.031 C67.932,15.031 66.661,14.521 65.600,13.502 C64.538,12.484 64.008,11.294 64.008,9.933 C64.008,8.572 64.538,7.383 65.600,6.364 C66.661,5.345 67.932,4.835 69.413,4.835 C70.894,4.835 72.164,5.345 73.222,6.364 C74.279,7.383 74.809,8.572 74.809,9.933 C74.809,11.294 74.279,12.484 73.222,13.502 C72.164,14.521 70.894,15.031 69.413,15.031 ZM70.741,8.444 C70.360,8.037 69.917,7.833 69.413,7.833 C68.908,7.833 68.466,8.037 68.085,8.444 C67.704,8.851 67.514,9.347 67.514,9.933 C67.514,10.519 67.704,11.016 68.085,11.422 C68.466,11.829 68.908,12.033 69.413,12.033 C69.917,12.033 70.360,11.829 70.741,11.422 C71.122,11.016 71.312,10.519 71.312,9.933 C71.312,9.347 71.122,8.851 70.741,8.444 ZM58.215,11.437 L55.314,11.437 L55.314,14.835 L51.916,14.835 L51.916,5.031 L55.314,5.031 L55.314,8.439 L58.215,8.439 L58.215,5.031 L61.613,5.031 L61.613,14.835 L58.215,14.835 L58.215,11.437 ZM44.116,15.031 C42.635,15.031 41.364,14.521 40.303,13.502 C39.241,12.484 38.711,11.294 38.711,9.933 C38.711,8.572 39.241,7.383 40.303,6.364 C41.364,5.345 42.635,4.835 44.116,4.835 C45.597,4.835 46.867,5.345 47.925,6.364 C48.983,7.383 49.512,8.572 49.512,9.933 C49.512,11.294 48.983,12.484 47.925,13.502 C46.867,14.521 45.597,15.031 44.116,15.031 ZM45.444,8.444 C45.063,8.037 44.621,7.833 44.116,7.833 C43.612,7.833 43.169,8.037 42.788,8.444 C42.407,8.851 42.217,9.347 42.217,9.933 C42.217,10.519 42.407,11.016 42.788,11.422 C43.169,11.829 43.612,12.033 44.116,12.033 C44.621,12.033 45.063,11.829 45.444,11.422 C45.825,11.016 46.016,10.519 46.016,9.933 C46.016,9.347 45.825,8.851 45.444,8.444 ZM34.314,14.835 L32.019,11.339 L31.121,12.335 L31.121,14.835 L27.723,14.835 L27.723,5.031 L31.121,5.031 L31.121,8.439 L34.021,5.031 L37.918,5.031 L34.314,9.240 L38.016,14.835 L34.314,14.835 ZM19.928,15.031 C19.407,15.031 18.907,14.961 18.429,14.821 C17.950,14.681 17.553,14.515 17.237,14.323 C16.921,14.131 16.645,13.939 16.407,13.747 C16.169,13.555 15.995,13.384 15.885,13.234 L15.728,13.039 L17.525,11.134 C17.590,11.212 17.686,11.312 17.813,11.432 C17.940,11.553 18.194,11.717 18.575,11.925 C18.956,12.134 19.342,12.238 19.732,12.238 C20.012,12.238 20.271,12.197 20.509,12.116 C20.746,12.034 20.938,11.934 21.085,11.813 C21.231,11.693 21.358,11.572 21.466,11.452 C21.573,11.331 21.646,11.232 21.685,11.154 L21.744,11.037 L18.424,11.037 L18.424,8.839 L21.744,8.839 C21.731,8.813 21.711,8.769 21.685,8.707 C21.659,8.646 21.586,8.548 21.466,8.415 C21.345,8.281 21.218,8.161 21.085,8.053 C20.951,7.946 20.763,7.850 20.518,7.765 C20.274,7.681 20.012,7.638 19.732,7.638 C19.348,7.638 18.972,7.731 18.604,7.916 C18.237,8.102 17.965,8.289 17.789,8.478 L17.525,8.732 L15.728,6.837 C15.767,6.785 15.824,6.712 15.899,6.618 C15.974,6.523 16.142,6.362 16.402,6.134 C16.663,5.906 16.943,5.706 17.242,5.534 C17.541,5.361 17.934,5.202 18.419,5.055 C18.904,4.909 19.407,4.835 19.928,4.835 C21.405,4.835 22.675,5.345 23.736,6.364 C24.797,7.383 25.328,8.572 25.328,9.933 C25.328,11.294 24.797,12.484 23.736,13.502 C22.675,14.521 21.405,15.031 19.928,15.031 ZM8.432,11.837 C9.141,11.837 9.812,11.688 10.443,11.388 C11.075,11.089 11.530,10.786 11.810,10.480 L12.230,10.031 L14.428,12.433 C14.375,12.511 14.299,12.614 14.198,12.741 C14.097,12.868 13.863,13.092 13.495,13.415 C13.127,13.737 12.730,14.022 12.304,14.269 C11.877,14.517 11.314,14.739 10.614,14.938 C9.914,15.136 9.187,15.236 8.432,15.236 C6.257,15.236 4.413,14.508 2.899,13.053 C1.386,11.598 0.629,9.858 0.629,7.833 C0.629,5.809 1.386,4.069 2.899,2.614 C4.413,1.159 6.257,0.431 8.432,0.431 C9.180,0.431 9.893,0.529 10.570,0.724 C11.247,0.919 11.806,1.154 12.245,1.427 C12.684,1.701 13.069,1.974 13.397,2.248 C13.726,2.521 13.962,2.755 14.105,2.951 L14.330,3.234 L12.025,5.636 C11.986,5.584 11.934,5.517 11.869,5.436 C11.804,5.355 11.654,5.211 11.420,5.006 C11.185,4.801 10.941,4.619 10.687,4.459 C10.434,4.300 10.100,4.157 9.686,4.030 C9.273,3.903 8.855,3.839 8.432,3.839 C7.286,3.839 6.332,4.219 5.570,4.977 C4.809,5.736 4.428,6.688 4.428,7.833 C4.428,8.979 4.809,9.933 5.570,10.695 C6.332,11.457 7.286,11.837 8.432,11.837 Z"/>
      </clipPath>
    </defs>
    <rect class="preloader__progress-bg" clip-path="url(#preloader__clip-path)" x="0" y="0" width="258" height="18" fill="#ccc" />
    <rect class="preloader__progress-rect" clip-path="url(#preloader__clip-path)" x="0" y="0" width="0" height="18" fill="#F3B93D" />
  </svg>
</div>
<script>
  preloader.setTarget('preloaderInit', true);
</script>
