$breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1920px
);

$grid-breakpoints: $breakpoints;

$font-base:       'PT Sans', sans-serif;
$font-header:     'TT Norms', sans-serif;
$font-additional: 'TT Firs Neue', sans-serif;

$color-white: #fff;
$color-light: #f9fafb;
$color-red: #dc2327;
$shadow-red: 0 0 .3rem 0 rgba(220, 35, 39, .78);
$shadow-gray: 0 0 .3rem 0 rgba(100, 100, 100, .78);
