extends template

block vars
  -
    let version = process.env.npm_package_version || new Date().getTime();
    let isDev = process.env.NODE_ENV === 'development';
  -
    let siteTitle = 'TALECOM';
    let pageTitle = 'Весь комплекс бухгалтерских и юридических услуг';
    let description =
      'Осуществляем все виды бухгалтерских и юридических услуг. \
       Возможно ведение отдельных направлений бухгалтерского и \
       финансового учета.';
    let url       = isDev ? '/' : '';
    let image     = url + 'images/talecom.png';
  -
    let html = {
      attrs: {
        lang: 'ru'
      },
      classList: []
    }
  -
    let body = {
      attrs: {},
      classList: []
    }
  -
    let layout = {
      attrs: {},
      classList: []
    }

append meta
  link(rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png")
  link(rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png")
  link(rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png")
  link(rel="manifest" href="/favicon/site.webmanifest")
  link(rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5")
  meta(name="msapplication-TileColor" content="#da532c")
  meta(name="theme-color" content="#e8eff0")

  meta(name='description', content=description)
  meta(property='og:title', content=pageTitle)
  meta(property='og:type', content='website')
  //meta(property='og:url', content=url)
  meta(property='og:image', content=image)
  meta(property='og:image:type', content='image/svg')
  meta(property='og:image:width', content='132')
  meta(property='og:image:height', content='20')
  meta(property='og:description', content=description)
  style
    include ../../preloader/style.css
  script
    include ../../preloader/index.js

block styles
  link(href="https://fonts.googleapis.com/css?family=Alegreya:400,700&display=swap&subset=cyrillic" rel="stylesheet")
  link(href="/fonts/fonts.css" rel="stylesheet")
  link(href="/styles/main.min.css?v=" + version, rel="stylesheet")

block scripts
  script(src="/scripts/bundle.js?v=" + version)

block body-start
  include ../../preloader/view.html
block header
block footer
block modal
