include ../helpers/bemto.pug

block vars
  -
    let isDev = process.env.NODE_ENV === 'development';
  -
    let siteTitle = typeof title !== 'undefined' ? title : 'Site Title'
    let pageTitle = typeof title !== 'undefined' ? title : ''
  -
    let html = {
      attrs: {
        lang: 'ru'
      },
      classList: []
    }
  -
    let body = {
      attrs: {},
      classList: []
    }
  -
    let layout = {
      attrs: {},
      classList: []
    }

doctype html
html(class=html.classList)&attributes(html.attrs)
  head
    block head-start
    block meta
      meta(charset='UTF-8')
      meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
      - let headPageTitle = pageTitle !== '' ? ('- ' + pageTitle) : '';
      title #{siteTitle} #{headPageTitle}

    block styles
      link(rel='stylesheet', href='assets/css/base.css')
      link(rel='stylesheet', href='assets/css/layout.css')
    block head-end

  body(class=body.classList)&attributes(body.attrs)
    block body-start

    #root
      include layout
      block modal

    block scripts
      script(type='text/javascript', src='assets/js/layout.js')
    block end-body
