.btn
{
    position: relative;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    padding: 0.5em 0.75em;

    font-family: $font-base;
    line-height: 1.2;
    text-align: center;
    font-size: 1em;

    border: none;
    background: none;
    cursor: pointer;

    &:focus
    {
        outline: none;
    }

    &__bg
    {
        position: absolute;

        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        svg {
            width: 100%;
            height: 100%;
        }
    }

    &__title
    {
        position: relative;
        font-size: 0.8em;
    }

    &_request
    {
      color: #fff;

      min-width: 9em;
      height: 2.5em;
      padding: 0.5rem 1rem;

      font-weight: normal;
    }

    &_go-back
    {
        color: #ffc326;

        padding: 0 0 0 2.5em;

        background: url("../images/icons/arrow-go-back.svg") no-repeat left/2em;
    }
}
