input,
textarea
{
    font-size: 1rem;

    display: block;

    width: 100%;

    padding: 1.125rem;
    margin: 0.3rem 0 0.5rem 0;

    box-shadow: none;
    text-shadow: none;
    background: #fff;

    border: none;
    border-radius: 2rem;

    transform: translate(0);

    &:focus
    {
        outline: none;
    }

    &::placeholder
    {
        transition: transform 0.5s ease, opacity 0.5s ease;
    }

    &:focus::placeholder
    {
        opacity: 0;
    }
}

input
{
    &:focus::placeholder
    {
        transform: translateY(100%);

        opacity: 0;
    }
}

label
{
    font-family: $font-header;
    font-weight: bold;
    font-size: 1.3em;
    //letter-spacing: 0.01em;
    color: #2c3e51;
}

.input-text, .textarea
{
    position: relative;
    margin-bottom: 1rem;
    &_border &__input
    {
        border: 0.1rem solid #d0dde7;
    }
}

.input-text
{
    &__icon
    {
        display: none;

        align-items: center;
        justify-content: center;

        position: absolute;

        bottom: 0.9rem;
        right: 1.5rem;

        width: 2rem;
        height: 2rem;
    }

    &__input
    {
        transition: border-color 0.5s ease;
    }

    &_has-icon &__input
    {
        padding-right: 4rem;
    }
    &_has-icon &__icon
    {
        display: inline-flex;
    }

    .form_show-errors &_no-valid &__input
    {
        border-color: #EF4523;
    }
}


.form-group
{
    @include media-breakpoint-up(md)
    {
        display: flex;

        &__item
        {
            flex-grow: 1;
            align-items: center;
            margin-left: 0.3rem;
            margin-right: 0.3rem;
            &:first-child
            {
                margin-left: 0;
            }
            &:last-child
            {
                margin-right: 0;
            }
        }
    }
}
