.list-marker
{
    list-style: none;

    padding: 0;
    margin: 0;

    li,
    &__item
    {
        position: relative;
        margin: 0.3em 0;
        text-align: center;

        &:first-child
        {
            padding-top: 0.1em;
        }
        
        @include media-breakpoint-up(lg)
        {
            padding-left: 2em;
            text-align: left;
        }

        &:before
        {
            content: '';
            display: block;

            position: relative;

            width: .7em;
            height: .7em;

            margin: 1em auto 0.5em;

            background: #ffb629;

            border-radius: 50%;

            @include media-breakpoint-up(lg)
            {
                position: absolute;

                top: 0.3em;
                left: 0;

                margin: 0;
            }
        }
    }
}

.list-number
{
    counter-reset: myCounter;
    margin: 0;
    padding: 0;
    padding-top: 1.4em;
    list-style: none;

    li,
    &__item
    {
      position: relative;
      padding-left: 2.5em;
      margin-bottom: 3em;

      font-size: 1.1em;
      line-height: 1.4em;

      &:before
      {
        counter-increment: myCounter;
        content:counter(myCounter);

        display: inline-block;

        position: absolute;
        top: 0;
        left: 0;

        color: #ffc326;

        font-size: 2.3em;
        margin-top: -0.3em;
      }
    }
}
