.social
{
  &__item
  {
    display: inline-block;
    color: #fff;
    margin: 0.4em 0.8em;

    transition: opacity, transform;
    transition-duration: 0.5s;
    transition-timing-function: ease;

    &:hover {
      opacity: 0.5;
      transform: scale(1.2);
    }

    &:first-child {margin-left: 0;}
    &:last-child  {margin-right: 0;}
    svg {
      width: 1.4em;
      height: 1.4em;
    }
  }
}
