extends common/base

block header
  .container
    .header
      .header__logo
        .logo
          a(href="/#top")
            img(src="/images/talecom_logo.svg")
      .header__conacts
        btn-request.header__btn(v-on:click.native="openModal('RequestForm')" onclick="if(typeof ym === 'function') ym(55380769, 'reachGoal', 'request-button'); return true") Оставить заявку
        a(href="tel:+79275105795" onclick="if(typeof ym === 'function') ym(55380769, 'reachGoal', 'click-header-tel'); return true").header__phone
          | +7 (927) 510 57-95

block content
  section#first
    .screen.screen-first
      .screen__wrp
        .screen__bg
          .bodymovin(data-name="first")
        .screen__content
          .container
            .screen-first__content
              h1.screen-first__header
                | Комплекс
                br
                | бухгалтерских
                br
                | и юридических услуг
              p.screen-first__sub-header Вам остается спокойно строить свой бизнес

  section#about(
    data-nav-item="О компании"
    data-nav-color="#cc9470"
  )
    .screen.screen-about
      .screen__wrp
        .screen__bg
          .wave(
            data-bg="#bad3ae"
            data-color="#ebdaba"
            data-height="320"
            data-speed="2"
            data-size="100"
          )
          .bodymovin(data-name="about")
        .screen__content
          .about
            .container
              .screen-about__content
                h2.about__header О компании
                p.about__text
                  | Осуществляем все виды бухгалтерских и юридических услуг. Ведем отдельные направления бухгалтерского и финансового учета.
                ul.about__list
                  li.about__list-item
                    h4.about__list-header 6 лет
                    p.about__list-label на рынке
                  li.about__list-item
                    h4.about__list-header 7 000
                    p.about__list-label операций в месяц
                  li.about__list-item
                    h4.about__list-header 60
                    p.about__list-label довольных предприятий
                  li.about__list-item
                    h4.about__list-header 50
                    p.about__list-label
                      | опытных специалистов
                      br
                      | со стажем 10+ лет

  section#servises(
    data-nav-item="Услуги"
    data-nav-color="#f4b84b"
  )
    .screen-transition
      .wave(
        data-bg="#ebdaba"
        data-color="#fff"
      )
    .screen.screen-servises
      .screen__wrp
        .screen__bg
          .bodymovin(data-name="servises")
        .screen__content
          .container
            .services
              .screen-servises__content
                  Services


  section#prices(
    data-nav-item="Цены"
    data-nav-color="#f6c44d"
  )
    .screen.screen-calculators
      .screen-transition
        .wave(
          data-bg="#fff"
          data-color="#f5f6f8"
        )
      .screen__wrp
        .screen__content.screen-calculators__content
          .container
            Calculators

    .screen.screen-advantages
      .screen__wrp
        .screen__bg
          .wave(
            data-bg="#f5f6f8"
            data-color="#e1e9ef"
            data-speed="3"
            data-amplitude="0.8"
            data-height="320"
          )
          .bodymovin(data-name="advantages")
        .screen__content
          .container
            .screen-advantages__content
              .advantages
                h2 Преимущества
                p Расчетываем стоимость от количества документов и системы налогообложения, предлагая гибкую ценовую политику.
                .advantages__list
                  .advantages__item
                    .advantages__icon
                      img(src="/images/illustration-calculator.svg")
                    .advantages__text
                      .advantages__title
                        h4 Ведение бухучета
                      .advantages__desc
                        p
                          | Главбух, который не
                          | знаетотпусков и больничных
                  .advantages__item
                    .advantages__icon
                      img(src="/images/illustration-medal.svg")
                    .advantages__text
                      .advantages__title
                        h4 Выгода
                      .advantages__desc
                        p
                          | Отсутствие трат на налоги, зарплату
                          | бухгалтеру и оборудование рабочего места.
                  .advantages__item
                    .advantages__icon
                      img(src="/images/illustration-box.svg")
                    .advantages__text
                      .advantages__title
                        h4 24/7
                      .advantages__desc
                        p
                          | Забота о вашем счете и круглосуточный
                          |доступ через облако.

  section#contacts(
    data-nav-item="Контакты"
    data-nav-color="#4049a8"
  )
    .screen.screen-contacts
      .screen-transition
        .wave(
          data-bg="#e4e9ef"
          data-color="#303e50"
        )
      .screen__wrp
        .screen__bg
          .bodymovin(data-name="contacts")
        .screen__content
          .container
            .screen-contacts__content
              .contacts
                h2.contacts__header Контакты
                .contacts__decription
                  p
                    | За более подробной информацией вы можете обратиться
                    | к нам любым удобным для вас способом
                    | или посетить наш офис.
                .contacts__cards

                  a.contact-card(href="https://yandex.ru/maps/-/CGWo6Lym" target="_blank" onclick="if(typeof ym === 'function') ym(55380769, 'reachGoal', 'click-footer-map'); return true")
                    .contact-card__img.
                      <svg viewBox="0 0 250 221" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <g clip-path="url(#clip0)">
                      <path d="M16.8998 209.903C25.3497 215.725 135.49 216.307 143.357 209.903C151.224 203.498 271.27 66.6681 246.504 41.0489C221.737 15.4297 133.45 105.388 133.45 105.388C133.45 105.388 171.329 0 130.245 0C89.1609 0 51.8648 89.0849 51.8648 89.0849C51.8648 89.0849 36.4219 60.2633 11.655 60.2633C-13.1119 60.2633 8.4499 204.08 16.8998 209.903Z" fill="#78991E" />
                      <path d="M92.4242 220.005L87.6456 217.85C87.6748 217.763 91.2878 209.757 96.2121 199.946C102.855 186.729 108.566 176.743 113.258 170.222L117.512 173.279C106.731 188.33 92.5699 219.684 92.4242 220.005Z" fill="#050060" />
                      <path d="M61.4802 124.602C61.4802 124.602 60.0234 110.337 74.5921 110.337C99.0676 110.337 117.716 144.399 117.716 144.399C117.716 144.399 144.522 100.73 163.753 113.831C182.984 126.931 151.224 147.893 151.224 147.893C151.224 147.893 202.506 145.855 202.506 169.145C202.506 192.435 129.371 181.081 110.723 173.512C92.0746 165.942 62.063 135.083 61.4802 124.602Z" fill="#E34B24" />
                      </g>
                      <defs>
                      <clipPath id="clip0">
                      <rect width="250" height="220.092" fill="white" />
                      </clipPath>
                      </defs>
                      </svg>
                    .contact-card__text
                      p.contact-card__label Зайти в гости
                      h4.contact-card__target ул. Академическая, 32, Волгоград

                  a.contact-card(href="tel:+79275105795" onclick="if(typeof ym === 'function') ym(55380769, 'reachGoal', 'click-footer-tel'); return true")
                    .contact-card__img.
                      <svg viewBox="0 0 250 211" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <g clip-path="url(#clip0)">
                      <path d="M5.77558 126.898H30.7756C30.7756 126.898 26.2789 175.619 26.9389 182.673C27.599 189.728 27.599 200 27.599 200L0 198.061C0 198.061 5.77558 137.789 5.77558 126.898Z" fill="#82D1DD"/>
                      <path d="M67.9456 87.7888H108.333C108.333 87.7888 104.497 142.285 103.837 152.517C103.177 162.789 99.34 206.353 99.34 206.353L62.7888 201.856C62.7888 201.856 65.3466 147.36 65.3466 139.026C65.3466 130.693 67.9456 87.7888 67.9456 87.7888Z" fill="#82D1DD"/>
                      <path d="M148.721 35.231H173.721C173.721 35.231 173.061 45.5033 173.721 48.0611C174.381 50.6188 175.66 55.1155 175.66 58.3333C175.66 61.5511 166.048 137.17 164.769 156.394C163.49 175.619 160.891 209.571 160.891 209.571L135.231 208.911C135.231 208.911 139.728 109.571 142.285 94.1832C144.884 78.8366 149.34 37.17 148.721 35.231Z" fill="#82D1DD"/>
                      <path d="M217.327 1.89769C217.327 1.89769 221.824 -0.660065 225 -0.0412532C228.177 0.577559 231.394 3.79538 237.17 3.79538C242.946 3.79538 250 3.79538 250 3.79538C250 3.79538 248.721 47.401 246.782 64.6865C244.843 81.9719 233.333 167.904 232.055 183.292C230.776 198.68 229.497 210.85 229.497 210.85C229.497 210.85 200 209.571 198.721 208.911C197.442 208.251 203.218 139.686 204.497 129.414C205.776 119.142 212.83 47.3597 212.83 37.7475C212.83 28.1353 217.327 1.89769 217.327 1.89769Z" fill="#82D1DD"/>
                      </g>
                      <defs>
                      <clipPath id="clip0">
                      <rect width="250" height="210.809" fill="white"/>
                      </clipPath>
                      </defs>
                      </svg>
                    .contact-card__text
                      p.contact-card__label Позвонить, обсудить
                      h4.contact-card__target +7 927 510-57-95

                  a.contact-card(href="mailto:info@talecom.ru" onclick="if(typeof ym === 'function') ym(55380769, 'reachGoal', 'click-footer-email'); return true")
                    .contact-card__img.
                      <svg viewBox="0 0 250 236" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M3.99643 100.799C4.17405 99.9112 11.5453 53.286 52.8419 21.7584C94.1385 -9.76908 173.179 2.22026 173.179 2.22026C173.179 2.22026 250 12.4334 250 106.572C250 200.71 165.186 231.794 165.186 231.794C165.186 231.794 -29.3073 271.758 3.99643 100.799Z" fill="#FFB62A"/>
                      <path d="M77.2647 95.0266C87.9219 95.0266 88.5879 96.8028 88.5879 106.35C88.5879 115.897 79.929 126.998 71.9361 126.998C63.9432 126.998 59.5027 119.893 59.5027 113.233C59.5027 106.572 64.8313 95.0266 77.2647 95.0266Z" fill="#FCF6E8"/>
                      <path d="M131.616 99.4672C141.208 99.4672 143.606 100.977 143.606 109.236C143.606 117.496 133.925 126.998 127.043 126.998C120.16 126.998 116.341 120.87 116.341 115.142C116.341 109.414 120.737 99.4672 131.616 99.4672Z" fill="#FCF6E8"/>
                      <path d="M174.156 101.687C182.282 101.687 184.281 103.108 184.281 110.657C184.281 118.206 176.066 126.998 170.249 126.998C164.432 126.998 161.19 121.359 161.19 116.119C161.19 110.835 164.92 101.687 174.156 101.687Z" fill="#FCF6E8"/>
                      </svg>
                    .contact-card__text
                      p.contact-card__label Написать
                      h4.contact-card__target info@talecom.ru
        .screen__footer.screen__footer_absolute
          .footer.container
            a(href="#top").to-top
              span.to-top__icon
                btn-icon(icon="toTop" color="#303e50")
              span.to-top__label В начало
            .social
              a.social__item
                icon(name="inst")
              a.social__item(href="https://www.facebook.com/TALEcom.V/" target="_blank")
                icon(name="fb")
              a.social__item(href="http://www.linkedin.com/company/wix.com?trk=tabs_biz_home" target="_blank")
                icon(name="in")
            .copywriting
              span.copywriting__company
                | © ООО «TALECOM», 2007—2019
              a.copywriting__confidentiality
                | Политика конфиденциальности
              a.copywriting__developer(href="https://todoagency.ru" target="_blank")
                .todo Made in TODO
                  span .

block modal
  modal(
    ref="Modal"
    v-if="modal.isOpen",
    @close="modal.isOpen = false"
    :list="modal.list"
    :show-controls="modal.showControls"
    :id="modal.id"
  )
    component(:is="modal.component" @close="closeModal")

append scripts
  if !isDev
    // Yandex.Metrika counter
    script(type="text/javascript").
      (function (m, e, t, r, i, k, a) {
        m[i] = m[i] || function () {
          (m[i].a = m[i].a || []).push(arguments)
        };
        m[i].l = 1 * new Date();
        k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
      })
      (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

      ym(55380769, "init", {
        clickmap: true,
        trackLinks: true,
        accurateTrackBounce: true
      });
    noscript
      div
        img(src="https://mc.yandex.ru/watch/55380769" style="position:absolute; left:-9999px;" alt="")
    // /Yandex.Metrika counter
