*
{
  box-sizing: border-box;

  animation-fill-mode: both;
}

html,
body
{
  margin: 0;
  padding: 0;

  font-family: $font-base;
  font-weight: normal;
  font-style: normal;

  line-height: 1.3;
  color: #95a5a6;

  font-size: 16px;

  @include media-breakpoint-down(sm)
  {
      font-size: 3.65vw;
  }

  @include media-breakpoint-only(md)
  {
      font-size: 2vw;
  }

  @include media-breakpoint-only(lg)
  {
      font-size: 1.25vw;
  }

  @include media-breakpoint-up(xl)
  {
      font-size: 0.8vw;
  };
}

p, li,
h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  margin-block-start: .7rem;
  margin-block-end:   .7rem;
}

h1,
.h1
{
  font-family: $font-header;
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 0.01em;
  line-height: 1;

  color: #2c3e50;

  @include media-breakpoint-up(lg)
  {
    font-size: 3.05rem;
  }

  @include media-breakpoint-up(xl)
  {
    font-size: 4.5rem;
  }
}

h2,
.h2
{
  font-family: $font-header;
  font-size: 2.4rem;
  font-weight: bold;
  letter-spacing: -0.02em;
  line-height: 1.2;

  color: #2c3e50;

  @include media-breakpoint-up(lg)
  {
      font-size: 2.6rem;
  }

  @include media-breakpoint-up(xl)
  {
      font-size: 4rem;
  }
}

h3,
.h3
{
  font-family: $font-header;
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 0.01em;
  line-height: 1.2;

  color: #2c3e50;

  @include media-breakpoint-up(xl)
  {
    font-size: 3.25rem;
  }
}


h4,
.h4
{
  font-family: $font-additional;
  font-weight: 500;
  font-style: normal;
  font-size: 1.4rem;
  letter-spacing: 0.03em;
  line-height: 1.1;
  color: #2c3e50;

  @include media-breakpoint-up(xl) {
    font-size: 1.9rem;
  }
}

h5,
.h5
{
  font-family: $font-header;
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: 0.01em;
  line-height: 1.2;

  @include media-breakpoint-down(lg) {
    font-size: 1.4rem;
  }

  @include media-breakpoint-up(xl) {
    font-size: 2rem;
  }
}

a
{
  text-decoration: none;
  color: #ffc326;
}

p, li
{
  font-size: 1rem;
  line-height: 1.35;

  @include media-breakpoint-down(sm) {
      font-size: 1.2rem;
  }

  @include media-breakpoint-up(xl)
  {
    font-size: 1.31rem;
  }
}

small
{
  font-size: 0.6em;
}
b, strong
{
  font-family: $font-header;
  font-weight: bold;
}

img,
svg,
.icon
{
  display: inline-block;

  max-width: 100%;
  max-height: 100%;

  vertical-align: middle;
}

.icon {
  width: 1em;
  height: 1em;
  max-width:  none;
  max-height: none;
}

section
{
  position: relative;
}

.overflow
{
  position: fixed;

  top: 0;
  left: 0;
  z-index: 100;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.5);

  animation: fadeIn 1s ease;
}
