.container
{
  padding: 0 1rem;
  margin: auto;

  width: 28rem;
  max-width: 100%;

  @include media-breakpoint-only(md)
  {
    width: 47rem;
  }

  @include media-breakpoint-up(lg)
  {
    width: 75.5rem;
  }

  @include media-breakpoint-up(xl)
  {
    width: 106rem;
  }
}

.row
{
  display: flex;
  margin: 0 -1rem;

  @include media-breakpoint-down(sm)
  {
    flex-direction: column;
  }
}

.col
{
  flex-basis: 0;
  flex-grow: 1;

  padding: 0 1rem;
}

.screen
{
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;

  //margin: -2px 0;

  &:before
  {
    content: '';

    display: block;

    position: absolute;

    bottom: 0;

    width: 100%;
    height: 50%;
  }

  &__wrp {
    position: relative;
  }

  &__bg
  {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    overflow: hidden;
  }

  &__content
  {
    padding: 8rem 2rem;
    position: relative;

    @include media-breakpoint-down(sm) {
      padding: 8rem 1rem;
    }
  }

  &__content
  {
    &_absolute
    {
      position: absolute;

      top: 0;
      left: 0;

      width: 100%;
      height: 100%;
    }
  }

  &__footer
  {
      &_absolute
      {
        position: absolute;
        bottom: 0;
        width: 100%;
      }
  }
}

.screen-transition {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: -2px 0;

  img, svg {
    width: 100%;
    transform: scale(1.001);
  }
}
