.flex
{
  display: flex;
}

.space-around
{
  justify-content: space-around;
}


.align-items
{
  &-flex-start
  {
    align-items: flex-start;
  }
  &-flex-end
  {
    align-items: flex-end;
  }
  &-center
  {
    align-items: center;
  }
  &-baseline
  {
    align-items: flex-start;
  }
  &-stretch
  {
    align-items: flex-start;
  }
}

.hidden
{
  display: none;
}

.hidden-down-md
{
  @include media-breakpoint-down(md)
  {
    display: none;
  }
}

.hidden-up-md
{
  @include media-breakpoint-up(md)
  {
    display: none;
  }
}

.hidden-down-sm
{
  @include media-breakpoint-down(sm)
  {
    display: none;
  }
}

.hidden-up-sm
{
  @include media-breakpoint-up(sm)
  {
    display: none;
  }
}

.t-center
{
  text-align: center;
}
