<template>
  <div class="btn-icon" @mouseover="hover = true" @mouseout="hover = false">
    <div ref="bg" class="btn-icon__bg"></div>
    <div class="btn-icon__icon" :style="{ fontSize: size + 'em' }">
      <icon :name="icon" :color="color" />
    </div>
  </div>
</template>

<script>
import SVG from 'svg.js';
import Icon from "./Icon";
import DistortPathAnimate from "../scripts/svg/DistortPathAnimate";
import Nearby from "../scripts/libs/Nearby";

export default {
  name: "BtnIcon",
  components: { Icon },
  props: {
    icon: {
      type: String,
    },
    color: {
      type: String,
      default: '#FFC326'
    },
    bg: {
      type: String,
      default: '#f4f4f4'
    },
    nearby: {
      type: Boolean,
      default: false
    },
    size: {
      type: [ Number, String ],
      default: 1
    }
  },
  data: () => ({
    hover: false
  }),
  watch: {
    bg(val) {
      this.bgPath.fill(val);
    },
    hover(val) {
      if (val) {
        this.animateBG.duration = 300;
        this.animateBG.start();
      } else {
        this.animateBG.duration = 1000;
      }
    }
  },
  mounted() {
    const draw = SVG(this.$refs.bg)
    .viewbox({ x: 0, y: 0, width: 83, height: 78 })
    .attr({
      preserveAspectRatio: 'none',
    });

    this.draw = draw;

    this.bgPath = draw.path(`
      M 28.348  1.58913
      C 28.348  1.58913 -7.28199 10.9291  1.34801 40.5891
      C 9.97801 70.2491 17.218   74.5691  37.348  77.5891
      C 57.478  80.6091 92.488   51.4291  80.348  27.5891
      C 67.1081 1.58918 43       -4.00005 28.348  1.58913
      Z
    `);

    this.bgPath.fill(this.bg);

    this.animateBG = new DistortPathAnimate(this.bgPath, 5, 1000);

    if (this.nearby) {
      new Nearby(this.$el, {
        onProgress: distance => {
          if (distance < 500){
            this.animateBG.duration = distance + 500;
            this.animateBG.start();
          } else {
            this.animateBG.stop();
          }
        }
      });
    }
  },
}
</script>

<style lang="scss">
.btn-icon {
  display: inline-block;
  vertical-align: middle;

  position: relative;

  width: 1.4em;
  height: 1.4em;

  margin: 0.1em;

  cursor: pointer;

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__icon {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 1em;
  }
}
</style>
