<template>
  <button class="btn btn_request">
    <div class="btn__bg">
      <svg viewBox="0 0 216 53" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
        <path ref="morphingPath" d="M83.5 7.25579C62.9905 9.25035 40.8325 7.25579 24.2919 7.25579C7.75122 7.25579 3.91945 21.2556 0.295778 31.336C-1.71956 40.8781 7.0569 46.2849 11.6971 47.7955C20.4211 52.0589 32.4296 53.7511 43.0025 52.3758C57.8571 51.1408 93.9479 48.8832 119.475 49.7329C141.73 50.2921 162.443 51.585 182.472 51.1043C194.233 50.9279 217.172 46.4892 214.834 30.1458C213.215 20.5132 207.921 13.1087 193.903 6.7528C175.406 -0.944401 104.009 5.26123 83.5 7.25579Z" fill="#FFC326"/>
      </svg>
    </div>
    <div class="btn__title"><slot>Оставить заявку</slot></div>
  </button>
</template>

<script>
import anime from "animejs/lib/anime.es";
import Nearby from "../scripts/libs/Nearby";

export default {
  name: "BtnRequest",
  mounted() {
    const frame0 =this.$refs.morphingPath.attributes.d.value;
    this.animMorphing = anime({
      targets: this.$refs.morphingPath,
      d: [
        { value: 'M83 9C61.5 6 41.0406 3.5 24.5 3.5C7.95934 3.5 -2 18.5 1.49998 31.5C4.2042 40.664 9.35985 43.9894 14 45.5C23 48.43 33.3984 48.8065 44 49.7329C58.5 51 94.5 46.6583 119.5 49.7329C142 52.5 168.183 49.5734 182.472 51.1043C195.5 52.5 214 45.5 214.834 30.1458C214.834 17.5 207.5 7.94736 193.5 5C174.5 1 104.5 12 83 9Z' },
        { value: 'M84 1.00001C53.5 -2 38.5 3 24.2919 7.25579C10.0838 11.5116 -1 20.5 0.295778 31.336C1.39162 40.5 4 45 11.6971 47.7955C21 49 24.2919 51.1043 43 50C57.8799 49.1217 93.7437 52.3758 119.5 52.3758C143.5 52.3758 163.5 54.5 182.472 51.1043C193.914 49.0563 213.5 46.5 214.834 30.1458C215.906 17 207.334 10.915 193.903 6.7528C170.5 -0.5 114.5 4.00001 84 1.00001Z' },
        { value: frame0 },
      ],
      easing: 'linear',
      duration: 1400,
      loop: true,
      autoplay: false,
    });

    let start = performance.now();
    let seek = this.animMorphing.currentTime;
    this.distance = (window.innerWidth / 3) / 2;

    new Nearby(this.$el, {
      onProgress: (distance) => {
        this.distance = distance;
      }
    });

    const animLoop = t => {
      let frameTime = t - start;
      let factor = 1 - this.distance / (window.innerWidth / 3);
      if (factor > 0) seek = this.animMorphing.currentTime + frameTime * factor;
      if (isNaN(seek)) seek = 0;
      if (seek > this.animMorphing.duration) seek = 0;
      if (seek !== this.animMorphing.currentTime) this.animMorphing.seek(seek);
      start = t;
      requestAnimationFrame(animLoop);
    };
    requestAnimationFrame(animLoop);
  }
}
</script>
