<template>
  <svg
    class="icon"
    xmlns="http://www.w3.org/2000/svg"
    :width="size + 'em'"
    :height="size + 'em'"
    viewBox="0 0 20 20"
    :aria-labelledby="name"
    role="presentation"
  >
    <title :id="name">{{name}} icon</title>
    <g :fill="color">
      <slot>
        <path :d="currentPath" />
      </slot>
    </g>
  </svg>
</template>

<script>
  const paths = {
      user:    'M15.085,16.795 C16.230,14.507 14.029,10.966 12.178,8.977 C12.912,7.891 13.283,6.517 13.221,5.252 C13.087,2.516 10.991,0.604 8.288,0.604 C5.268,0.579 2.783,2.550 2.563,5.618 C2.462,7.031 2.893,8.190 3.642,9.068 C1.976,10.958 -0.086,14.183 0.551,16.497 C1.220,18.928 5.726,19.550 7.715,19.632 C9.936,19.725 13.964,19.038 15.085,16.795 ZM8.289,3.104 C11.039,3.103 11.571,6.849 9.438,8.213 C7.642,9.363 5.292,7.988 5.074,6.035 C4.861,4.126 6.598,3.090 8.289,3.104 ZM3.075,15.694 C3.085,15.630 3.095,15.557 3.107,15.476 C3.220,14.972 3.366,14.476 3.543,13.991 C3.972,12.682 4.776,11.524 5.711,10.524 C6.833,10.976 8.129,11.113 9.386,10.893 C9.706,10.836 10.008,10.745 10.291,10.620 C11.578,11.994 12.337,13.623 12.801,15.509 C13.039,16.473 9.119,17.073 8.354,17.124 C6.537,17.246 4.529,16.832 3.075,15.694 Z',
      phone:   'M13.989,11.284 C14.004,11.294 14.017,11.305 14.030,11.316 C14.160,11.413 14.268,11.548 14.334,11.736 C14.745,12.908 16.425,14.437 15.920,15.714 C15.380,17.081 14.054,17.598 12.539,17.900 C9.236,18.559 6.343,16.068 4.476,13.945 C2.401,11.586 0.884,8.853 0.147,5.959 C-0.592,3.059 1.577,0.910 4.574,0.057 C5.095,-0.092 5.756,0.084 5.961,0.590 C6.442,1.770 7.329,2.714 8.085,3.763 C8.416,4.220 8.361,4.725 7.900,5.073 C6.063,6.459 8.700,9.052 9.667,10.447 C9.961,10.871 10.266,11.293 10.586,11.704 C10.642,11.697 10.698,11.690 10.767,11.683 C10.991,11.622 11.217,11.569 11.445,11.523 C12.041,11.408 12.623,11.256 13.220,11.144 C13.514,11.089 13.753,11.141 13.937,11.254 C13.955,11.263 13.973,11.273 13.989,11.284 ZM12.812,13.188 C11.735,13.507 10.234,14.019 9.471,13.432 C8.537,12.714 7.921,11.452 7.300,10.535 C5.834,8.374 4.047,6.213 5.902,4.185 C5.392,3.521 4.876,2.870 4.461,2.163 C3.943,2.403 3.466,2.695 3.000,3.038 C1.800,3.918 2.063,5.054 2.370,6.262 C2.826,8.050 3.839,9.777 4.952,11.321 C6.069,12.872 7.356,14.326 9.060,15.402 C10.294,16.180 11.742,16.236 13.095,15.810 C14.198,15.462 13.392,14.134 12.812,13.188',
      inst:    'M15.6486 19H4.35138C2.50413 19 1 17.4959 1 15.6486V4.35138C1 2.50413 2.50413 1 4.35138 1H15.6486C17.497 1 19 2.50413 19 4.35138V15.6486C19 17.4959 17.497 19 15.6486 19ZM10 6.08388C7.84 6.08388 6.08388 7.84 6.08388 10C6.08388 12.16 7.84 13.9161 10 13.9161C12.16 13.9161 13.9161 12.16 13.9161 10C13.9161 7.84 12.16 6.08388 10 6.08388ZM14.9916 3.35575C14.2154 3.35575 13.5854 3.98575 13.5854 4.762C13.5854 5.53825 14.2154 6.16825 14.9916 6.16825C15.769 6.16825 16.3979 5.53825 16.3979 4.762C16.3979 3.98575 15.769 3.35575 14.9916 3.35575ZM10 12.862C8.42162 12.862 7.138 11.5784 7.138 10C7.138 8.42162 8.42162 7.138 10 7.138C11.5784 7.138 12.862 8.42162 12.862 10C12.862 11.5784 11.5784 12.862 10 12.862Z',
      fb:      'M14.6233 1.00338L12.2252 1C9.5305 1 7.7892 2.73787 7.7892 5.43022V7.47199H5.37671C5.16891 7.47199 5 7.63632 5 7.83892V10.798C5 11.0018 5.16891 11.1661 5.37671 11.1661H7.7892V18.6331C7.7892 18.8357 7.95811 19 8.16591 19H11.3129C11.5207 19 11.6896 18.8357 11.6896 18.6331V11.1661H14.5099C14.7177 11.1661 14.8867 11.0018 14.8867 10.798L14.8878 7.83892C14.8878 7.74212 14.8478 7.6487 14.7766 7.57891C14.7066 7.51025 14.6111 7.47199 14.5099 7.47199H11.6896V5.74087C11.6896 4.90908 11.8941 4.48587 13.0076 4.48587H14.6233C14.8311 4.48587 15 4.32154 15 4.11893V1.37031C15 1.16883 14.8322 1.0045 14.6233 1.00338Z',
      in:      'M19 12.0356V19H15.1422V12.5024C15.1422 10.8701 14.5839 9.75533 13.1878 9.75533C12.1212 9.75533 11.4867 10.5068 11.2081 11.2335C11.1064 11.4933 11.0799 11.8544 11.0799 12.2167V19H7.22103C7.22103 19 7.27294 7.99369 7.22103 6.85413H11.0799V8.5764C11.0725 8.5899 11.0619 8.6034 11.0545 8.61578H11.0799V8.5764C11.5926 7.74958 12.5078 6.56953 14.5575 6.56953C17.0965 6.56953 19 8.30529 19 12.0356ZM3.18419 1C1.86436 1 1 1.90669 1 3.09799C1 4.26455 1.83893 5.19824 3.13229 5.19824H3.15877C4.50509 5.19824 5.34191 4.26455 5.34191 3.09799C5.31542 1.90669 4.50509 1 3.18419 1ZM1.22986 19H5.08662V6.85413H1.22986V19Z',
      arrowLeft:  'M1.97274 7.71853C0.471689 8.85616 0.771839 10.8304 2.43309 11.6446C7.55686 13.9423 12.2204 17.545 17.3441 19.8426C18.8552 20.4895 19.6059 18.0356 18.405 17.2214C14.4821 14.6004 10.5692 12.1357 6.64629 9.51466C7.85716 8.85659 9.05806 8.2094 10.2689 7.55133C12.2204 6.72598 14.1818 6.57009 15.9932 5.5886C17.3441 4.93053 16.7437 2.95598 15.6929 2.46519C11.4698 0.825632 5.44531 5.08625 1.97274 7.71853Z',
      arrowRight: 'M18.0273 7.35097C19.5283 8.43444 19.2282 10.3146 17.5669 11.0901C12.4431 13.2784 7.77964 16.7095 2.65587 18.8978C1.14477 19.5138 0.394093 17.1768 1.59499 16.4014C5.51794 13.9051 9.43084 11.5578 13.3537 9.06157C12.1428 8.43484 10.9419 7.81847 9.73106 7.19174C7.77964 6.40569 5.81817 6.25722 4.00684 5.32247C2.65587 4.69574 3.25632 2.81522 4.30714 2.3478C8.53024 0.78631 14.5547 4.84404 18.0273 7.35097Z',
      default: 'M1 19V1H19V19H1Z',
      toTop: 'M12.7753 8.997C11.5999 7.19671 10.4978 5.39547 9.32241 3.59613C9.02831 4.14978 8.73421 4.70342 8.44112 5.25706C8.07375 6.15768 8.00047 7.05735 7.55883 7.88877C7.26573 8.51162 6.38344 8.23479 6.16362 7.74941C5.42887 5.81165 7.33901 3.04154 8.51439 1.44887C9.02831 0.756811 9.91061 0.895222 10.278 1.65648C11.3058 4.01136 12.9218 6.15768 13.9507 8.51162C14.2448 9.20367 13.1427 9.55065 12.7753 8.997ZM10.6714 7.26118C10.026 10.3688 9.83834 13.4906 10.1816 16.6219C10.4587 17.387 8.89783 20.7942 8.34677 17.769C7.78668 14.2813 7.86698 10.5641 8.74425 7.06968C8.98415 6.31031 10.828 6.462 10.6714 7.26118Z',
      plus: 'M18.8857 10.2589C18.7332 10.588 18.5653 10.9121 18.3631 11.1992C18.2321 11.3832 18.0222 11.6293 17.856 11.6213C17.1655 11.5903 16.5101 11.9224 15.8016 11.7854C14.3769 11.5083 12.9411 11.5583 11.5087 11.8444C11.0958 11.9264 10.8217 12.1285 10.7403 12.6396C10.6049 13.5029 10.4396 14.3561 10.3085 15.2194C10.1483 16.2787 9.86902 17.284 9.39012 18.2083C9.30788 18.3663 9.22478 18.5444 9.10142 18.6514C8.30298 19.3396 7.06506 18.9645 6.65385 17.9152C6.29489 16.9989 6.09014 16.0436 6.16724 15.0143C6.22807 14.2051 6.25977 13.3938 6.28718 12.5826C6.29917 12.2295 6.10214 11.9644 5.81257 11.9634C5.28142 11.9594 4.74942 11.9854 4.21741 12.0194C3.17653 12.0875 2.20761 11.8444 1.33721 11.1562C1.01595 10.9011 0.95341 10.678 1.0288 10.1949C1.09905 9.74376 1.25411 9.37965 1.56595 9.07956C1.99515 8.66944 2.46033 8.39836 3.01376 8.34834C4.02123 8.25831 5.02784 8.16629 6.03531 8.06826C6.30003 8.04125 6.56304 7.98723 6.82347 7.92922C7.04964 7.8802 7.20898 7.73716 7.24753 7.45307C7.35034 6.71085 7.44714 5.96863 7.55509 5.22841C7.73585 3.98404 8.02541 2.81769 8.74161 1.78839C9.27019 1.02816 9.893 0.92613 10.5921 1.03816C11.2714 1.1472 11.7726 1.58233 11.9439 2.41557C12.1041 3.19381 12.2798 3.93603 12.0433 4.78328C11.848 5.48149 11.878 6.26572 11.8111 7.01094C11.7546 7.64813 11.854 7.84319 12.3628 7.8832C13.6385 7.98823 14.9141 8.11327 16.1914 8.12127C17.1432 8.12828 17.9802 8.37335 18.4908 8.91751C19.0288 9.40666 19.1042 9.79177 18.8857 10.2589Z',
  };

  export default {
    name: 'icon',
    props: {
      name: {
        type: String,
        default: 'default'
      },
      size: {
        type: [Number, String],
        default: 1
      },
      color: {
        type: String,
        default: 'currentColor'
      }
    },
    computed: {
      currentPath() {
        if (!!this.name && paths.hasOwnProperty(this.name)) {
          return paths[this.name];
        } else {
          return paths['default']
        }
      }
    }
  }
</script>
