<template lang="pug">
.modal
  .modal__wrp(ref="wrp")
    .modal__bg(ref="bg")
    .modal__body(ref="body")
      slot
        .modal__slide(v-if="!!list")
          .modal__header
            h4 {{ header }}
          .modal__content( v-html="content" )
    .modal__close(ref="close" @click="close")
    .modal__controls(v-if="showControls")
      .modal__arrow.modal__arrow_left(ref="arrowLeft" @click="left")
      .modal__arrow.modal__arrow_right(ref="arrowRight" @click="right")
</template>

<script>
import SmoothScroll from 'smooth-scroll';
import anime from 'animejs/lib/anime.es';
import { rem } from "../scripts/helpers";
import ScrollStatus from "../scripts/libs/ScrollStatus";
import mouseStatus from "../scripts/libs/mouseStatus";
import Transition from "../scripts/libs/Transition";
import SVGModalBackgroundSM from "../scripts/svg/SVGModalBackgroundSM";
import SVGClose from "../scripts/svg/SVGClose";
import SVGArrow from "../scripts/svg/SVGArrow";

export default {
  name: 'Modal',
  props: {
    showControls: {
      type: Boolean,
      default: false,
    },
    list: {
      default: []
    },
    id: {
      type: Number,
      default: null
    }
  },

  data: () => ({
    currentIndex: 0
  }),

  created() {
    this.currentIndex = this.index;
  },

  computed: {
    header() {
      return this.list[this.currentIndex].title;
    },
    content() {
      return this.list[this.currentIndex].content;
    },
    index() {
      if(this.id !== null && this.list.length) return this.list.findIndex(item => item.id === this.id);
      return null;
    }
  },

  mounted() {
    this.$el.style.top = window.scrollY + 'px';

    // Transitions
    this.transition = new Transition(this.$el, 'modal', 2000, {
      beforeEnter: ctx => {
        this.$emit('open');
        this.$el.style.display = 'block';

        let elemOverflow = document.createElement('div');
        elemOverflow.classList.add('overflow');
        elemOverflow.style.animation = 'fadeIn 2s ease';
        elemOverflow.onclick = this.close.bind(this);

        this.elemOverflow = elemOverflow;
        document.body.appendChild(elemOverflow);
      },
      afterEnter: ctx => {
        this.drawBackground.start();
        this.drawClose.start();
        if (this.showControls) {
          this.drawArrowLeft.start();
          this.drawArrowRight.start();
        }
      },
      beforeLeave: ctx => {
        this.drawBackground.stop();
        this.drawClose.stop();
        if (this.showControls) {
          this.drawArrowLeft.stop();
          this.drawArrowRight.stop();
        }
      },
      leave: ctx => {
        this.elemOverflow.style.animationName = 'fadeOut';
        this.elemOverflow.style.animationFillMode = 'forwards';
      },
      afterLeave: ctx => {
        this.$emit('close');
      },
    });

    this.transition.enter();


    // Appear from the cursor
    if (mouseStatus()) {
      let mouse = mouseStatus();
      let percentX = mouse.clientX / window.innerWidth;
      let percentY = mouse.clientY / window.innerHeight;
      let x = percentX * 100 + '%';
      let y = percentY * 100 + '%';

      this.$el.style.transformOrigin = `${x} ${y}`;
    }


    // Close when scrolling
    this.wrpScrollStatus = new ScrollStatus(this.$refs.wrp);
    window.addEventListener('scroll', this.scroll);

    // Draw backgrounds
    this.drawBackground = new SVGModalBackgroundSM(this.$refs.bg);
    this.drawClose = new SVGClose(this.$refs.close);

    if (this.showControls) {
      this.drawArrowLeft = new SVGArrow(this.$refs.arrowLeft, 'left');
      this.drawArrowRight = new SVGArrow(this.$refs.arrowRight, 'right');
    }
  },

  destroyed() {
    window.removeEventListener('scroll', this.scroll);
    document.body.removeChild(this.elemOverflow);

    this.drawBackground.clear();
    this.drawClose.clear();
    if (this.showControls) {
      this.drawArrowLeft.clear();
      this.drawArrowRight.clear();
    }
  },

  methods: {
    scrollTop() {
      const smoothScroll = new SmoothScroll("[data-scroll]", {
        offset: 0,
        speed: 1000,
        easing: 'easeInOutQuart',
        speedAsDuration: true
      });
      smoothScroll.animateScroll(this.$el);
    },

    scroll(e) {
      if (!this.wrpScrollStatus.isView) {
        this.close();
      }
    },

    close() {
      this.transition.leave();
    },

    left() {
      if (window.outerWidth < 768) this.scrollTop();
      const targets = [this.$refs.body, this.$refs.bg];

      const action = () => {
        let next = this.currentIndex - 1;
        if (next < 0) next = this.list.length - 1;
        this.currentIndex = next;
      };

      anime.timeline({
        targets: targets,
        duration: 750,
      }).add({
        translateX: '-50%',
        opacity: 0,
        scale: 0.8,
        easing: 'easeInQuart',
        complete: action
      }).add({
        translateX: ['50%', '0%'],
        opacity: 1,
        scale: 1,
        easing: 'easeOutQuart',
      });
    },

    right () {
      if (window.outerWidth < 768) this.scrollTop();
      const targets = [this.$refs.body, this.$refs.bg];

      const action = () => {
        let next = this.currentIndex + 1;
        if (next >= this.list.length) next = 0;
        this.currentIndex = next;
      };

      anime.timeline({
        targets: targets,
        duration: 750,
      }).add({
        translateX: '50%',
        opacity: 0,
        scale: 0.8,
        easing: 'easeInQuart',
        complete: action
      }).add({
        translateX: ['-50%', '0%'],
        opacity: 1,
        scale: 1,
        easing: 'easeOutQuart',
      });
    }
  },
}
</script>
