<template>
  <svg class="navigation"></svg>
</template>

<script>
import Navigation from "../scripts/modules/Navigation";

export default {
  name: "Navigation",
  mounted() {
    this.nav = new Navigation(this.$el);
  }
}
</script>

<style lang="scss">

</style>