<template lang="pug">
ul.top-nav
  li.top-nav__item
    a.top-nav__link(href="#about") О компании
  li.top-nav__item
    a.top-nav__link(href="#servises") Услуги
  li.top-nav__item
    a.top-nav__link(href="#prices") Цены
  li.top-nav__item
    a.top-nav__link(href="#contacts") Контакты
</template>

<script>
  export default {
    name: "TopNav"
  }
</script>
