<template lang="pug">
.calculator.calculator_tax
  .calculator__wrp
    .calculator__transition-5
      .calculator__go-back
        .btn.btn_go-back(@click='$emit("goto", "CalculatorsLinks")') Назад к выбору услуги
    .calculator__transition-4
      h3.calculator__header Подготовка и сдача деклараций
    .calculator__transition-3
      .calculator__doc-type
        label Выберите вид документа
        dropdown(:items='dropdownDocType', @select='e => this.currentDocType = e.value')
    .calculator__transition-2
      .row
        .col
          .calculator__tax-type
            label Выберите налоговый режим
            dropdown(:items='dropdownTaxType', @select='e => this.currentTaxType = e.value')
        .col
          .calculator__range
            label Выберите количество {{ unit }}
            input-range(:min='1', :max='10', :step='1', v-model='rangeVal')
    .calculator__transition-1
      .row.align-items-center
        .col
          .calculator__total-price
            .calculator-total-price
              label.calculator-total-price__header Стоимость услуги составит
              .calculator-total-price__result
                | {{ totalPrice }}
                span.calculator-total-price__result-unit ₽/комплект
              .calculator-total-price__sale Скидка 10% при заявке онлайн
        .col
          .calculator__request
            btn-request(@click.native='$root.openModal("RequestForm")')
</template>

<script>
  import InputText  from "../Forms/InputText";
  import InputRange from "../Forms/InputRange";
  import Dropdown   from "../Forms/Dropdown";
  import BtnRequest from "../BtnRequest";

  export default {
    name: "CalculatorTax",
    components: {BtnRequest, Dropdown, InputRange, InputText },
    data: () => ({
      currentDocType: 0,
      currentTaxType: 0,
      rangeVal: 1,
      priceTable: [
        [ 1000, 1000, 1000,  1000  ],
        [ 1500, 2000, 10000, 10000 ],

        [ 3000, 2000, 2000,  4000  ],
        [ 5000, 5000, 20000, 40000 ],

        [ 4000, 4000, 4000,  6000  ],
        [ 6000, 8000, 40000, 60000 ]
      ],

      dropdownDocType: [
        { title: 'Подготовка и сдача отчета', isGroupName: true },
        { title: 'Нулевой отчет',    value: 0 },
        { title: 'НЕ нулевой отчет', value: 1 },
        { title: 'Подготовка и комплекта квартальной отчетности', isGroupName: true },
        { title: 'Нулевая квартальная отчетность',    value: 2 },
        { title: 'НЕ нулевая квартальная отчетность', value: 3 },
        { title: 'Подготовка и комплекта годовой отчетности', isGroupName: true },
        { title: 'Нулевая годовая отчетность',    value: 4 },
        { title: 'НЕ нулевая годовая отчетность', value: 5 },
      ],

      dropdownTaxType: [
        { title: 'ЕНВД',    value: 0 },
        { title: 'УСН 6%',  value: 1 },
        { title: 'УСН 15%', value: 2 },
        { title: 'ОСН',     value: 3 },
      ],
    }),

    computed: {
      totalPrice() {
        let num = this.priceTable[this.currentDocType][this.currentTaxType] * this.rangeVal;
        return num.toString().replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, '$1 ')
      },

      unit() {
        return this.currentDocType <= 2 ? 'отчетов' : 'комплектов';
      }
    },

    methods: {
      selectHandler(e) {
        // console.log(e)
      }
    }
  }
</script>
