<template>
  <div class="calculators-links">
    <h2>Цены</h2>
    <p>Выберите интересующую вас услугу. <br>Расчитаем стоимость в 2 шага.</p>
    <div class="calculators-links__wrp">
      <CalculatorLink
          v-for="( link, index ) in links"
          :key="index"
          :img="link.img"
          :label="link.label"
          @click.native="clickHandler(link)"
      />
    </div>
  </div>
</template>

<script>
  import CalculatorLink from "./CalculatorLink";

  export default {
    name: "CalculatorsLinks",
    components: { CalculatorLink },
    data: () => ({
      links: [
        {
          img: 'images/calculator-tax.svg',
          label: 'Подготовка и сдача деклараций',
          component: 'CalculatorTax'
        },
        {
          img: 'images/calculator-accounting.svg',
          label: 'Ведение постоянного бухгалтерского учета',
          component: 'CalculatorAccounting'
        }
      ]
    }),
    methods: {
      clickHandler(link) {
        if (link.component === "CalculatorTax" && typeof ym === "function") ym(55380769, 'reachGoal', 'click-calculator-1');
        if (link.component === "CalculatorAccounting" && typeof ym === "function") ym(55380769, 'reachGoal', 'click-calculator-2');

        this.$emit('goto', link.component)
      }
    }
  }
</script>
