<template>
  <div class="calculator-link" @mouseover="overHandler" @mouseout="outHandler">
    <svg class="calculator-link__bg" width="467" height="326" viewBox="0 0 467 326" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M36.2016 0H430.798C450.792 0 467 16.2174 467 36.2222V289.778C467 309.783 450.792 326 430.798 326H36.2016C16.2082 326 0 309.783 0 289.778V36.2222C0 16.2174 16.2082 0 36.2016 0Z" fill="white"/>
      <path ref="hoverPath" fill-rule="evenodd" clip-rule="evenodd"
            d="M138.123 223.789C154.921 223.771 171.895 223.565 188.821 223.047C197.282 222.793 205.729 222.477 214.128 222.134C218.327 221.963 222.514 221.785 226.684 221.608C230.854 221.43 235.006 221.255 239.137 221.086C272.201 219.723 303.82 218.948 331.704 223.125C351.245 226.596 355.038 241.299 356.897 254.021C356.952 254.453 356.985 254.884 356.996 255.315C357.007 255.747 356.996 256.179 356.964 256.611C356.898 257.474 356.748 258.336 356.518 259.194C356.057 260.909 355.275 262.609 354.22 264.263C352.116 267.571 348.91 270.703 345.122 273.368C337.513 278.729 327.795 282.025 319.74 281.702C296.743 282.337 272.962 280.63 247.409 279.891C245.806 279.847 244.196 279.809 242.576 279.774C240.957 279.74 239.328 279.712 237.687 279.689C234.409 279.644 231.088 279.623 227.719 279.632C220.981 279.649 214.047 279.79 206.843 280.077C192.432 280.631 176.921 281.855 159.606 283.382C147.466 285.198 133.679 282.963 123.662 277.332C118.677 274.561 114.725 271.022 112.408 267.202C111.828 266.247 111.347 265.278 110.972 264.3C110.784 263.812 110.623 263.322 110.49 262.832C110.355 262.34 110.249 261.85 110.169 261.36C109.852 259.399 109.977 257.451 110.571 255.593C114.732 242.28 113.837 223.885 138.123 223.789Z"
            fill="#FFC326"/>
    </svg>

    <div class="calculator-link__wrp">
      <div class="calculator-link__icon"><img :src="img"></div>
      <div class="calculator-link__label">{{ label }}</div>
    </div>
  </div>
</template>

<script>
  import anime from "animejs/lib/anime.es";

  export default {
    name: "CalculatorLink",
    props: ['img', 'label'],
    data: () => ({
      hover: false
    }),
    mounted() {
      this.animHover = anime({
        targets: this.$refs.hoverPath,
        d: [
          {
            value: "M61.122 65.2166C91.6587 65.1446 122.513 64.317 153.281 62.2353C168.662 61.2175 184.018 59.9479 199.284 58.5703C206.919 57.8815 214.53 57.1671 222.11 56.4577C229.69 55.7432 237.238 55.039 244.747 54.3605C304.851 48.8863 362.329 45.7765 413.016 62.5488C448.539 76.4889 455.434 135.529 458.813 186.617C458.913 188.349 458.973 190.081 458.992 191.814C459.013 193.546 458.992 195.283 458.934 197.015C458.815 200.48 458.541 203.944 458.123 207.388C457.286 214.276 455.864 221.102 453.947 227.743C450.122 241.026 444.294 253.604 437.407 264.305C423.576 285.832 405.91 299.068 391.268 297.773C349.464 300.323 306.234 293.466 259.784 290.5C256.871 290.325 253.943 290.171 250.999 290.032C248.055 289.893 245.094 289.78 242.112 289.688C236.152 289.508 230.116 289.425 223.991 289.461C211.742 289.528 199.138 290.094 186.042 291.245C159.846 293.471 131.65 298.385 100.174 304.517C78.1068 311.811 53.0431 302.836 34.8347 280.224C25.7723 269.096 18.5892 254.883 14.3774 239.545C13.3229 235.711 12.448 231.82 11.7673 227.892C11.4248 225.934 11.1325 223.965 10.8903 221.997C10.646 220.023 10.4518 218.054 10.3077 216.086C9.73137 208.211 9.95897 200.387 11.0385 192.929C18.6017 139.466 16.975 65.6021 61.122 65.2166Z",
            easing: 'easeInQuad',
            duration: 500,
          },
          {
            value: "M35 1.37128e-05C66.7608 -0.0912692 117 1.10976e-05 153.5 -8.02055e-06C170.5 5.7742e-07 182.5 -2.30484e-05 198.5 -1.56499e-05C207 -8.3074e-07 212 -1.69612e-05 220.5 -4.33065e-05C229 -6.83703e-05 235 -4.37833e-05 243.5 -3.28161e-05C307.5 -3.49022e-05 374.5 2.38791e-06 431 -3.28161e-05C455 -4.777e-05 466.931 22.5 466.992 33.5C467.053 44.5 466.912 162.303 466.931 164.5C466.953 166.697 466.992 176.303 466.931 178.5C466.931 183.5 466.931 194.5 466.931 199.5C466.931 212.5 467 271.5 467 292C467 309.5 449.5 326 432.5 326C415.5 326 395.043 326.5 379.5 326.5C332.5 326.5 321 326.5 272 326.5C265.5 326.5 250.062 326.676 247 326.5C243.938 326.324 232.101 326.617 229 326.5C222.802 326.272 216.37 326.454 210 326.5C197.26 326.585 176 326.5 162.5 326.5C133 326.5 70 326 36 326C19.5 326 -9.40327e-05 311 -6.14212e-06 292.5C7.46222e-05 275.5 -6.15702e-06 265 -8.55057e-05 244C-0.000108177 238 0.000278998 233 1.59712e-05 226.5C-0.000145891 222.5 -0.000120643 220 -0.000120643 217.5C-8.87593e-05 214.851 -4.95641e-05 213 -4.95641e-05 210.5C-7.10828e-05 200.5 6.73831e-05 61.5 0 35C0 17.5 15 1.37128e-05 35 1.37128e-05Z",
            easing: 'easeOutQuint',
            duration: 750,
          },
        ],
        autoplay: false,
      });
    },
    methods: {
      overHandler(e) {
        clearTimeout(this.hoverTimer);
        if (this.hover) return false;
        this.hoverTimer = setTimeout(() => {
          this.animHover.pause();
          if (this.animHover.reversed) this.animHover.reverse();
          this.animHover.play();
          this.hover = true;
        }, 100);
      },
      outHandler(e) {
        clearTimeout(this.hoverTimer);
        if (!this.hover) return false;
        this.hoverTimer = setTimeout(() => {
          this.animHover.pause();
          if (!this.animHover.reversed) this.animHover.reverse();
          this.animHover.play();
          this.hover = false;
        }, 100);
      }
    }
  }
</script>
