<template lang="pug">
  .calculator.calculator_accounting
    .calculator__wrp
      .calculator__transition-5
        .calculator__go-back
          .btn.btn_go-back(@click="$emit('goto', 'CalculatorsLinks')") Назад к выбору услуги
      .calculator__transition-4
        h2.calculator__header Ведение постоянного <br>бухгалтерского учета
      .calculator__transition-3
        .row
          .col
            .calculator__tax-type
              label Выберите налоговый режим
              Dropdown(:items="dropdownTaxType" @select="e => this.currentTaxType = e.value")
          .col
            .calculator__range
              label Количество  документов
              input-range(:min="1" :max="999" :step="1" v-model="rangeVal")
      .calculator__transition-2
        .row.align-items-center
          .col
            .calculator__total-price
              .calculator-total-price
                label
                  | Стоимость услуги составит
                .calculator-total-price__result
                  | {{ totalPrice }}
                  span.calculator-total-price__result-unit ₽/месяц
                .calculator-total-price__sale
                  | Скидка 10% при заявке онлайн
          .col
            .calculator__request
              btn-request(@click.native="$root.openModal('RequestForm')")
</template>

<script>
  import InputText from "../Forms/InputText";
  import InputRange from "../Forms/InputRange";
  import Dropdown from "../Forms/Dropdown";
  import BtnRequest from "../BtnRequest";

  export default {
    name: "CalculatorAccounting",
    components: {BtnRequest, Dropdown, InputRange, InputText },
    data: () => ({
      currentTaxType: 0,
      rangeVal: 1,
      priceTable: [
        [ 3000,  4000,  5000,  6000  ],
        [ 5000,  6000,  7000,  8000  ],
        [ 7000,  8000,  9000,  10000 ],
        [ 9000,  10000, 11000, 12000 ],
        [ 11000, 12000, 13000, 14000 ],
        [ 13000, 14000, 15000, 16000 ],
        [ 15000, 16000, 17000, 18000 ],
        [ 17000, 18000, 19000, 20000 ]
      ],

      quantityRange: [
        [ 1,   50   ],
        [ 51,  100  ],
        [ 101, 200  ],
        [ 201, 300  ],
        [ 301, 400  ],
        [ 401, 600  ],
        [ 601, 800  ],
        [ 801, 1000 ]
      ],

      dropdownTaxType: [
        { title: 'ЕНВД',    value: 0 },
        { title: 'УСН 6%',  value: 1 },
        { title: 'УСН 15%', value: 2 },
        { title: 'ОСН',     value: 3 },
      ],
    }),

    computed: {
      currentQuantity() {
        return this.quantityRange.findIndex(item => item[0] <= this.rangeVal && item[1] >= this.rangeVal);
      },

      totalPrice() {
        if (this.currentQuantity < 0) {
          return "Индивидуально"
        }

        let num = this.priceTable[this.currentQuantity][this.currentTaxType];
        return num.toString().replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, '$1 ')
      },

      unit() {
        return this.currentDocType <= 2 ? 'отчетов' : 'комплектов';
      }
    },

    methods: {
      selectHandler(e) {
      }
    }
  }
</script>
