<template>
  <div class="calculators">
    <transition>
      <component
          :is="currentComponent"
          @goto="componentName => currentComponent = componentName"
      ></component>
    </transition>
  </div>
</template>

<script>
import SmoothScroll from 'smooth-scroll';
import CalculatorsLinks from "./CalculatorsLinks";
import CalculatorTax from "./CalculatorTax";
import CalculatorAccounting from "./CalculatorAccounting";
import { rem } from "../../scripts/helpers";

export default {
  name: "Calculators",
  components: { CalculatorsLinks, CalculatorTax, CalculatorAccounting },
  data: () => ({
    currentComponent: 'CalculatorsLinks',
  }),
  watch: {
    currentComponent(val, old) {
      if (val !== old && window.outerWidth < 768) {
        const smoothScroll = new SmoothScroll("[data-scroll]", {
          offset: rem(8),
          speed: 1000,
          easing: 'easeInOutQuart',
          speedAsDuration: true
        });
        smoothScroll.animateScroll(this.$el);
      }
    }
  }
}
</script>
