<template>
  <div class="dropdown"
       :class="{ 'dropdown_open' : isOpen }"
       @click="isOpen = !isOpen"
  >
  <div class="dropdown__wrp" ref="wrp">
    <div class="dropdown__body" ref="body">
        <div class="dropdown__toggle" ></div>
        <ul class="dropdown__list">
          <template  v-for="(item, indexItem) in items">
            <li v-if="item.isGroupName && indexItem >= 1" class="dropdown__item dropdown__item_separator"
                ref="items"
            ></li>

            <li class="dropdown__item" :class="{'dropdown__item_group-name': item.isGroupName}"
                :key="indexItem"
                @click="setActive($event, item)"
                ref="items"
            >
              {{ item.title }}
            </li>
          </template>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
  import { rem, toRem, relativeOffset } from "../../scripts/helpers";


  export default {
    name: "Dropdown",
    props: ['items'],

    data() {
      return {
        isOpen: false,
        activeIndex: null,
        timerHidden: null
      }
    },

    mounted() {
      this.$refs.items.forEach((el, index, refs) => {
        el.style.transitionDelay = (refs.length - 1 - index) * 16 + 'ms';
        if (this.activeIndex === null && !el.classList.contains('dropdown__item_group-name') && !el.classList.contains('dropdown__item_separator')) {
          this.activeIndex = index;
          el.classList.add('dropdown__item_active');
          el.style.transform = `translateY(${ -100 * this.activeIndex }%)`;
        }
      });

      document.body.addEventListener('click', this.bodyHandler);
    },

    beforeDestroy() {
      document.body.removeEventListener('click', this.bodyHandler);
    },

    watch: {
      isOpen(val) {
        clearTimeout(this.timerHidden);

        if (val) {
          let bodyComputedStyle = getComputedStyle(this.$refs.body);

          this.$refs.wrp.style.height = parseInt(bodyComputedStyle.height) + 'px';
          document.body.style.cursor = 'pointer';
          this.$el.style.zIndex   = '2';

          this.$refs.items.forEach((el) => {
            el.style.transform = '';
          });

        } else {
          this.$refs.wrp.style.height = '';
          document.body.style.cursor = '';
          this.$el.style.zIndex   = '1';

          this.$refs.items.forEach((el, index, refs) => {
            el.style.transitionDelay = (refs.length - 1 - index) * 16 + 'ms';
            el.style.transform = `translateY(${ -100 * this.activeIndex }%)`;
          });

          this.timerHidden = setTimeout(() => {
            this.$el.style.zIndex   = '';
          }, 1000);
        }
      }
    },

    methods: {
      setActive(event, item )
      {
        if (!this.isOpen || item.isGroupName) return false;

        this.$refs.items.forEach((el, index) => {
          el.classList.remove('dropdown__item_active');

          if (el === event.target) this.activeIndex = index;
        });
        event.target.classList.add('dropdown__item_active');


        this.$emit('select', item )
      },

      bodyHandler(e)
      {
        if (this.isOpen) {
          if (!this.$el.contains(e.target)) this.isOpen = false;
        }
      }
    }
  }
</script>
