<template>
  <div class="input-range">
    <label class="input-range__label">{{ label }}</label>
    <div class="input-range__wrp" ref="wrp"
         @touchstart="mousedownHandler"
         @mousedown="mousedownHandler"
    >
      <div class="input-range__progress-line">
        <div class="input-range__progress"
             :style="{transform: `translateX(${ progress * 100 - 100}%)`}"
        ></div>
      </div>
      <div class="input-range__circle-wrp"
           :style="{transform: `translateX(${ progress * 100 - 100}%)`}"
      >
        <div class="input-range__circle">
          <div class="input-range__value">
            <span>{{ current }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { rounded } from "../../scripts/helpers";

  export default {
    name: "InputRange",
    inheritAttrs: false,
    props: {
      label: String,
      min: {
        default: 0
      },
      max: {
        default: 100
      },
      step: {
        default: 1
      },
      value: {
        default: 0
      }
    },

    data: () => ({
      current_: 0,
      progress_: 0,
      moved: false
    }),

    computed: {
      diapason() {
        return this.max - this.min
      },

      progress: {
        get: function() {

          return this.progress_;
        },
        set: function(val) {
          if (val < 0) val = 0;
          if (val > 1) val = 1;

          let a = (this.diapason + this.step) / this.step;
          let b = Math.floor(a * val) * this.step;
          let c = rounded(b + this.min);
          if (c < this.min) c = this.min;
          if (c > this.max) c = this.max;
          this.current = c;
          this.progress_ = val;
        }
      },

      current: {
        get: function() {
          return this.current_;
        },
        set: function(val) {
          if (val < this.min) val = this.min;
          if (val > this.max) val = this.max;

          this.current_ = val;
          if (!this.moved) this.progress_ = (val - this.min) / this.diapason;

          this.$emit('input', +val);
        }
      }
    },

    beforeMount() {
      this.current = +this.value;
      if (isNaN(this.current)) this.current = 0;
    },

    watch: {
      value() {
        this.current = +this.value;
        if (isNaN(this.current)) this.current = 0;
      }
    },

    methods: {
      mousedownHandler(e)
      {
        this.moveHandler(e);

        this.$refs.wrp.onmousemove = this.moveHandler;
        this.$refs.wrp.onmouseup   = this.endHandler;
        this.$refs.wrp.onmouseover = this.endHandler;

        this.$refs.wrp.ontouchmove   = this.moveHandler;
        this.$refs.wrp.ontouchend    = this.endHandler;
        this.$refs.wrp.ontouchcancel = this.endHandler;

        this.$el.classList.add('input-range_active');
      },

      moveHandler(e)
      {
        e.preventDefault();

        this.moved = true;

        let offsetX = 0;
        if (e instanceof MouseEvent) {
          offsetX = e.offsetX;
        } else if (e instanceof TouchEvent) {
          let rect = e.target.getBoundingClientRect();
          let pageX = e.targetTouches[0].pageX;
          offsetX = pageX - rect.left;
        }

        this.progress = offsetX / (this.$refs.wrp.clientWidth);
      },

      endHandler(e)
      {
        this.moved = false;

        this.$refs.wrp.onmousemove = null;
        this.$refs.wrp.ontouchmove = null;

        this.$el.classList.remove('input-range_active');
      },
    },
  }
</script>
