<template lang="pug">
  .input-text(:class="classes")
    label.nput-text__label {{ label }}
      input.input-text__input(
          :type="type || 'text'"
          :placeholder="placeholder"
          :name="name"
          v-bind:value="value"
          v-on:input="$emit('input', $event.target.value)"
          :disabled="disabled"
          :required="required"
          :readonly="readonly"
          :autofocus="autofocus"
          :tabindex="tabindex"
          :pattern="pattern.source"
          v-mask="mask"
      )
    .input-text__icon(v-if="!!icon")
      Icon(:name="icon" color="#ffc326")
</template>

<script>
  import Icon from "../Icon";
  export default {
    name: "InputText",
    components: {Icon},
    props: [
      'type',
      'placeholder',
      'label',
      'name',
      'value',
      'minlength',
      'disabled',
      'required',
      'readonly',
      'autofocus',
      'tabindex',
      'pattern',
      'icon',
      'mask'
    ],
    watch: {
      valid(val, oldVal) {
        this.$emit('validate', val);
      }
    },
    computed: {
      valid() {
        if (!!this.required && this.value.length === 0) return false;
        if (!!this.pattern && !this.pattern.test(this.value)) return false;
        return true
      },
      classes() {
        return {
          'input-text_disabled' : !!this.disabled,
          'input-text_required' : !!this.required,
          'input-text_has-icon' : !!this.icon,
          'input-text_valid'    : this.valid,
          'input-text_no-valid' : !this.valid
        }
      }
    },
  }
</script>
