<template lang="pug">
  form.request-form(:class="classes")
    .request-form__header.modal__header(ref="header")
      h3  Оставить заявку
    .request-form__content.modal__content(ref="content")
      .form-group(ref="groupInputs")
        .form-group__item
          .request-form__name(ref="name")
            input-text(
              ref="nameInput"
              class="input-text_border"
              label="Как к вам обращаться"
              placeholder="Введите имя"
              icon="user"
              :required="true"
              v-model="name"
              :pattern="reg.login"
              @validate="val => nameValid = val"
            )
        .form-group__item
          .request-form__tel(ref="tel")
            input-text(
              ref="telInput"
              type="tel"
              class="input-text_border"
              label="Ваш телефон"
              placeholder="+7 (___) ___ __-__"
              mask="+7 (999) 999 99-99"
              icon="phone"
              :pattern="reg.phone"
              v-model="tel"
              @validate="val => telValid = val"
            )
      .request-form__message(ref="message")
        Textarea(
          ref="message"
          class="textarea_border"
          label="Вы можете задать вопрос"
          placeholder="Что вас интересует?"
          v-model="message"
          rows="5"
        )
      .request-form__submit(ref="submit")
        BtnRequest(@click.native="send" type="submit") Отправить
    .sending-status(v-if="status" ref="ss")
      .sending-status__icon(ref="ssIcon")
        RequestStatusMorphing(:status=" status || '' ")
      h3.sending-status__header(ref="ssHeader") Заявка успешно отправлена
      p.sending-status__text(ref="ssText")
        strong
          | Спасибо, ваше сообщение отправлено. Мы ответим в ближайшее время.
      .sending-status__btn(ref="ssBtn")
        BtnRequest(type="button")
          span(ref="ssBtnText") Закрыть
</template>

<script>
  import SmoothScroll from 'smooth-scroll';
  import anime from 'animejs/lib/anime.es.js';
  import reg from "../../scripts/helpers/reg";
  import InputText from "./InputText";
  import Textarea from "./Textarea";
  import BtnRequest from "../BtnRequest";
  import RequestStatusMorphing from "../animations/RequestStatusMorphing";
  import { rem } from "../../scripts/helpers";

  export default {
    name: "RequestForm",
    components: { RequestStatusMorphing, Textarea, InputText, BtnRequest },
    data: () => ({
      status: false,
      requestStatus: undefined,
      requestCallBack: () => {},
      name: '',
      nameValid: false,
      tel: '',
      telValid: false,
      message: '',
      showErrors: false
    }),
    mounted() {
      if (localStorage.name)    this.name = localStorage.name;
      if (localStorage.tel)     this.tel = localStorage.tel;
      if (localStorage.message) this.message = localStorage.message;
    },
    watch: {
      name(val) {
        localStorage.name = val;
      },
      tel(val) {
        localStorage.tel = val;
      },
      message(val) {
        localStorage.message = val;
      }
    },
    computed: {
      reg: () => reg,
      classes() {
        return [
          this.status ? `form_${this.status}` : '',
          this.showErrors ? `form_show-errors` : '',
        ]
      }
    },
    methods: {
      validation() {
        return this.nameValid && this.telValid;
      },

      ajaxRequest() {
        const data = {
          name: this.name,
          tel: this.tel,
          message: this.message,
        };

        fetch('//www.talecom.ru/api/request-form.php', {
          method: 'POST',
          body: JSON.stringify(data),
          headers: {
            "Content-type": "application/json; charset=UTF-8"
          }
        })
        .then(res => res.json())
        .then(response => {
          if(response.status === "sussed") {
            this.requestStatus = 'sussed';
            if (typeof ym === "function") ym(55380769, 'reachGoal', 'form-status-sussed');
          } else {
            this.requestStatus = 'error';
            if (typeof ym === "function") ym(55380769, 'reachGoal', 'form-status-errord');
          }
          this.requestCallBack();
        })
        .catch(error => {
          console.error('Ошибка:', error);
          this.requestStatus = 'error';
          this.requestCallBack();
        })
      },

      scrollTop() {
        const smoothScroll = new SmoothScroll("[data-scroll]", {
          offset: rem(11),
          speed: 1000,
          easing: 'easeInOutQuart',
          speedAsDuration: true
        });
        smoothScroll.animateScroll(this.$el);
      },

      send(e) {
        e.preventDefault();

        if (typeof ym === "function") ym(55380769, 'reachGoal', 'submit-request-form');

        if (window.outerWidth < 768) this.scrollTop();

        if (this.status || !this.validation()) {
          this.showErrors = true;
          return false;
        }
        this.status = 'send';
        this.requestStatus = undefined;
        this.requestCallBack = () => {};

        requestAnimationFrame(() => {
          const refs = this.$refs;

          anime.set([ this.$refs.ssIcon ] , {
            translateY: window.outerWidth >= 768 ? '18rem' : '23rem'
          });
          anime.set([ this.$refs.ssHeader, this.$refs.ssText, this.$refs.ssBtn ] , {
            translateY: '5rem',
            opacity: 0
          });

          this.finishAnime = anime({
            targets: [ this.$refs.ssHeader, this.$refs.ssText, this.$refs.ssBtn ],
            opacity: 1,
            translateY: 0,
            duration: 2000,
            autoplay: false,
            delay: (el, i, l) => i * 200,
            easing: 'easeOutElastic(1, 1)',
            begin: () => {
              this.status = this.requestStatus;
              if (this.requestStatus === 'sussed') {
                this.$refs.ssHeader.innerHTML  = "Заявка успешно отправлена";
                this.$refs.ssText.innerHTML    = "Спасибо, ваше сообщение отправлено. <br class='hidden-down-sm'> Мы ответим в ближайшее время.";
                this.$refs.ssBtnText.innerHTML = "Закрать";
                this.$refs.ssBtn.onclick = this.close;
                this.message = '';
              } else if (this.requestStatus === 'error') {
                this.$refs.ssHeader.innerHTML  = "Ой, что то пошло не так...";
                this.$refs.ssText.innerHTML    = "Во время отправки вашей зявки возникла ошибка.<br> Извините за неудобство.";
                this.$refs.ssBtnText.innerHTML = "Попробовать еще раз";
                this.$refs.ssBtn.onclick = e => {
                  this.finishAnime.pause();
                  this.reset();
                }
              }
              requestAnimationFrame(() => {
                if (this.requestStatus === 'sussed') {
                  anime({
                    targets: this.$refs.ssIcon,
                    duration: 3000,
                    rotate: 360,
                    easing: 'easeInOutElastic',
                  });
                }
              })
            },
          });

          this.sendAnimation = anime.timeline({
            easing: 'easeOutExpo',
            duration: 750
          }).add({
            targets: this.$refs.submit,
            scale: 0,
            easing: 'easeInBack',
          }, 100).add({
            targets: [
              this.$refs.header,
              ...window.innerWidth >= 768 ?[this.$refs.groupInputs]:[this.$refs.name, this.$refs.tel],
              this.$refs.message
            ],
            translateY: (el, i, l) => 5 * (l - i) + 'rem',
            duration: 800,
            scale: 0,
            opacity: 0,
            delay: (el, i, l) => (l - i) * 100,
            easing: 'easeInBack',
          }).add({
            targets: this.$refs.ssIcon,
            begin: () => this.status = 'load',
            duration: 1800,
            translateY: '0rem',
            easing: 'easeOutQuad'
          });

          this.sendAnimation.finished.then(() => {
            if(!!this.requestStatus) {
              this.finishAnime.play();
            } else {
              this.requestCallBack = this.finishAnime.play;
            }
          });

          // AJAX Request
          this.ajaxRequest();
        });
      },

      close() {
        this.$emit('close');
      },

      reset() {
        if (!this.status || this.status === 'reset') return false;
        this.status = 'reset';

        let refs = this.$refs;
        const animation = anime.timeline().add({
          targets: [this.$refs.ssIcon, this.$refs.ssHeader, this.$refs.ssText, this.$refs.ssBtn],
          opacity: 0,
          translateY: '-5rem',
          duration: 500,
          easing: 'easeInBack',
          delay: (el, i, l) => i * 100,
        }).add({
          targets: [
            this.$refs.header,
            ...window.innerWidth >= 768 ?[this.$refs.groupInputs]:[this.$refs.name, this.$refs.tel],
            this.$refs.message,
            this.$refs.submit
          ],
          translateY: '0rem',
          scale: 1,
          opacity: 1,
          duration: 1200,
          easing: 'easeOutExpo',
          delay: (el, i, l) => i * 100,
          complete: () => this.status = false
        })
      }
    }
  }
</script>
