<template lang="pug">
  .textarea(:style="classes")
    label.textarea__label {{ label }}
      textarea.textarea__input(
        :placeholder="placeholder"
        :name="name"
        :form="form"
        v-bind:value="value"
        v-on:input="$emit('input', $event.target.value)"
        :disabled="disabled"
        :required="required"
        :readonly="readonly"
        :autofocus="autofocus"
        :cols="cols"
        :rows="rows"
        :tabindex="tabindex"
      )
        slot
</template>

<script>
  export default {
    name: "Textarea",
    props: [
      'placeholder',
      'label',
      'form',
      'name',
      'value',
      'autofocus',
      'disabled',
      'required',
      'readonly',
      'cols',
      'rows',
      'tabindex'
    ],
    computed: {
      classes() {
        return {
          'textarea_disabled' : this.disabled,
          'textarea_required' : this.required
        }
      }
    }
  }
</script>
